<?xml version="1.0"?>
<launch>

	<arg name="robot" default="cob4-2"/>

	<!-- simulated driver services -->
	<node ns="base" pkg="cob_controller_configuration_gazebo" type="gazebo_services.py" name="gazebo_services" cwd="node" respawn="false" output="screen"/>
	<node ns="torso" pkg="cob_controller_configuration_gazebo" type="gazebo_services.py" name="gazebo_services" cwd="node" respawn="false" output="screen"/>
	<node ns="sensorring" pkg="cob_controller_configuration_gazebo" type="gazebo_services.py" name="gazebo_services" cwd="node" respawn="false" output="screen" />
	<node ns="head" pkg="cob_controller_configuration_gazebo" type="gazebo_services.py" name="gazebo_services" cwd="node" respawn="false" output="screen" />

	<node name="image_proc" pkg="image_proc" type="image_proc" ns="head_cam"/>

	<!-- FIXME: remove all this and use arg:=sim within the component launch files to distinguish between real component or sim/fake component -->
	<node name="fake_monitor" pkg="cob_controller_configuration_gazebo" type="fake_monitoring.py" args="--diag-hostnames='base/driver, torso/driver, sensorring/driver, head/driver, base_laser_front, base_laser_right, base_laser_left, -b1, -t1, -t2, -t3, -s1, -h1, joy, safety, bms'"/>

</launch>
