<?xml version="1.0"?>
<launch>

	<arg name="robot" default="cob4-1"/>

	<!-- controller_utils -->
	<include file="$(find cob_controller_configuration_gazebo)/launch/components/controller_utils.launch" />

	
	<!-- Base -->
	<include file="$(find cob_controller_configuration_gazebo)/launch/components/base_controller_cob4.launch">
		<arg name="robot" value="$(arg robot)"/>
	</include>
		
	<include file="$(find cob_bringup)/drivers/relayboard.launch">
		<arg name="sim" value="true"/>
	</include>

	<!-- Torso -->
	<!--include file="$(find cob_controller_configuration_gazebo)/launch/components/generic_controller.launch">
		<arg name="component_name" value="torso"/>
		<arg name="version" value="cob4"/>
	</include-->
	<include file="$(find cob_controller_configuration_gazebo)/launch/components/generic_controller_velocity.launch">
		<arg name="robot" value="$(arg robot)"/>
		<arg name="component_name" value="torso"/>
		<arg name="version" value="cob4"/>
		<arg name="controllers" value="torso_1_joint_velocity_controller torso_2_joint_velocity_controller torso_3_joint_velocity_controller"/>
	</include>

	<!-- Head -->
	<!--include file="$(find cob_controller_configuration_gazebo)/launch/components/generic_controller.launch">
		<arg name="component_name" value="head"/>
		<arg name="version" value="cob4"/>
	</include-->
<!--
	<include file="$(find cob_controller_configuration_gazebo)/launch/components/generic_controller_velocity.launch">
		<arg name="robot" value="$(arg robot)"/>
		<arg name="component_name" value="head"/>
		<arg name="version" value="cob4"/>
		<arg name="controllers" value="head_1_joint_velocity_controller head_2_joint_velocity_controller head_3_joint_velocity_controller"/>
	</include>
-->
	
	<!-- Arms -->
	<!--include file="$(find cob_controller_configuration_gazebo)/launch/components/generic_controller_dual.launch">
		<arg name="component_name" value="arm"/>
		<arg name="version" value="lwa4p_dual"/>
	</include-->
<!--
	<include file="$(find cob_controller_configuration_gazebo)/launch/components/generic_controller_velocity.launch">
		<arg name="robot" value="$(arg robot)"/>
		<arg name="component_name" value="arm"/>
		<arg name="version" value="lwa4p_dual"/>
		<arg name="side" value="_left"/>
		<arg name="controllers" value="arm_left_1_joint_velocity_controller arm_left_2_joint_velocity_controller arm_left_3_joint_velocity_controller arm_left_4_joint_velocity_controller arm_left_5_joint_velocity_controller arm_left_6_joint_velocity_controller arm_left_7_joint_velocity_controller"/>
	</include>
	<include file="$(find cob_controller_configuration_gazebo)/launch/components/generic_controller_velocity.launch">
		<arg name="robot" value="$(arg robot)"/>
		<arg name="component_name" value="arm"/>
		<arg name="version" value="lwa4p_dual"/>
		<arg name="side" value="_right"/>
		<arg name="controllers" value="arm_right_1_joint_velocity_controller arm_right_2_joint_velocity_controller arm_right_3_joint_velocity_controller arm_right_4_joint_velocity_controller arm_right_5_joint_velocity_controller arm_right_6_joint_velocity_controller arm_right_7_joint_velocity_controller"/>
	</include>
-->
	
	
	<!-- Sensorring -->
	<!--include file="$(find cob_controller_configuration_gazebo)/launch/components/generic_controller.launch">
		<arg name="component_name" value="sensorring"/>
		<arg name="version" value="cob4"/>
	</include-->
<!--
	<include file="$(find cob_controller_configuration_gazebo)/launch/components/generic_controller_velocity.launch">
		<arg name="robot" value="$(arg robot)"/>
		<arg name="component_name" value="sensorring"/>
		<arg name="version" value="cob4"/>
		<arg name="controllers" value="sensorring_joint_velocity_controller"/>
	</include>
-->
	
	<node pkg="cob_controller_configuration_gazebo" type="gazebo_services.py" name="gazebo_services" cwd="node" respawn="false" output="screen" />
	<node pkg="cob_controller_configuration_gazebo" type="gazebo_topics.py" name="gazebo_topics" cwd="node" respawn="false" output="screen" />

</launch>
