<?xml version="1.0"?>
<launch>

	<arg name="robot" default="raw3-6"/>

	<!-- controller_manager -->
	<include file="$(find cob_controller_configuration_gazebo)/launch/components/controller_manager.launch" />

	<!-- Base -->
	<include file="$(find cob_controller_configuration_gazebo)/launch/components/base_controller_raw.launch">
		<arg name="robot" value="raw3-6"/>
	</include>
	<include file="$(find cob_bringup)/drivers/relayboard.launch">
		<arg name="sim" value="true"/>
	</include>

	<!-- start additional components -->
	<include file="$(find cob_bringup)/tools/base_collision_observer.launch" >
		<arg name="robot" value="raw3-6"/>
	</include>

</launch>
