<?xml version="1.0"?>
<launch>

	<arg name="robot" default="raw3-6"/>

	<!-- aggregated robot_state_publisher -->
	<include file="$(find cob_bringup)/tools/robot_state_publisher.launch">
		<arg name="robot" value="$(arg robot)" />
	</include>

	<!-- Base -->
	<!-- simulated driver services -->
	<node ns="base" pkg="cob_controller_configuration_gazebo" type="gazebo_services.py" name="gazebo_services" cwd="node" respawn="false" output="screen" />
	<!-- base controllers -->
	<include file="$(find cob_bringup)/controllers/base_controller_plugin.launch">
		<arg name="robot" value="$(arg robot)"/>
	</include>
	<!-- scanner and scanner-filter -->
	<include file="$(find cob_bringup)/drivers/laser_scan_filter.launch">
		<arg name="robot" value="$(arg robot)"/>
		<arg name="name" value="base_laser_front"/>
	</include>
	<include file="$(find cob_bringup)/drivers/laser_scan_filter.launch">
		<arg name="robot" value="$(arg robot)"/>
		<arg name="name" value="base_laser_rear"/>
	</include>
	<include file="$(find cob_bringup)/drivers/scan_unifier.launch" >
		<arg name="robot" value="$(arg robot)" />
	</include>

	<include file="$(find cob_bringup)/drivers/relayboard.launch">
		<arg name="sim" value="true"/>
	</include>

	<!-- ur10 -->
	<!-- Arm -->
	<!-- simulated driver services -->
	<node ns="arm" pkg="cob_controller_configuration_gazebo" type="gazebo_services.py" name="gazebo_services" cwd="node" respawn="false" output="screen" />
	<!-- generic controllers -->
	<include file="$(find cob_bringup)/controllers/generic_controller.launch">
		<arg name="robot" value="$(arg robot)"/>
		<arg name="component_name" value="arm"/>
	</include>

	<!-- start additional components -->
	<include file="$(find cob_bringup)/tools/base_collision_observer.launch" >
		<arg name="robot" value="$(arg robot)"/>
	</include>

</launch>
