<?xml version="1.0"?>
<robot>

	<!-- common properties -->
<!--	<property name="M_PI" value="3.1415926535897931" />	-->

	<!-- torso reference positions -->
	<property name="torso_lower_neck_pan_ref" value="-0.5306" />
	<property name="torso_lower_neck_tilt_ref" value="0.0320" />
	<property name="torso_upper_neck_pan_ref" value="0.5481" />
	<property name="torso_upper_neck_tilt_ref" value="0.0229" />

	<!-- tray reference position -->
	<property name="torso_tray_ref" value="2.5541" />

	<!-- head camera axis reference position -->
	<property name="head_axis_ref" value="-3.266798" />

	<!-- arm reference positions -->
	<property name="arm_1_ref" value="0" />
	<property name="arm_2_ref" value="0" />
	<property name="arm_3_ref" value="0" />
	<property name="arm_4_ref" value="0" />
	<property name="arm_5_ref" value="0" />
	<property name="arm_6_ref" value="0" />
	<property name="arm_7_ref" value="0" />

	<!-- camera calibration properties -->
	<property name="cam_r_x" value="-0.0854" />
	<property name="cam_r_y" value="0.0148" />
	<property name="cam_r_z" value="0.0032" />
	<property name="cam_r_roll" value="2.4734" />
	<property name="cam_r_pitch" value="-0.0151" />
	<property name="cam_r_yaw" value="-3.8144" />

	<property name="cam_l_x" value="-0.0007" />
	<property name="cam_l_y" value="0.0008" />
	<property name="cam_l_z" value="-0.0021" />
	<property name="cam_l_roll" value="0.00036" />
	<property name="cam_l_pitch" value="-0.00733" />
	<property name="cam_l_yaw" value="-0.00069" />

	<property name="tof_x" value="-0.0016" />
	<property name="tof_y" value="-0.0015" />
	<property name="tof_z" value="-0.0078" />
	<property name="tof_roll" value="-0.0058" />
	<property name="tof_pitch" value="-0.0029" />
	<property name="tof_yaw" value="-0.0058" />
  
</robot>
