<?xml version="1.0"?>
<robot>
	<!-- ***************** -->
	<!-- base calibration -->
	<!-- ***************** -->
	<!-- laser front mount positions | relative to base_link -->
	<property name="laser_front_x" value="0.325"/>
	<property name="laser_front_y" value="0.0"/>
	<property name="laser_front_z" value="0.135"/>
	<property name="laser_front_roll" value="0"/>
	<property name="laser_front_pitch" value="0"/>
	<property name="laser_front_yaw" value="0"/>

	<!-- laser rear mount positions | relative to base_link -->
	<property name="laser_rear_x" value="-0.325"/>
	<property name="laser_rear_y" value="0.0"/>
	<property name="laser_rear_z" value="0.135"/>
	<property name="laser_rear_roll" value="0"/>
	<property name="laser_rear_pitch" value="0"/>
	<property name="laser_rear_yaw" value="3.1415926"/>

	<!-- laser top mount positions | relative to base_link -->
	<property name="laser_top_x" value="-0.252"/>
	<property name="laser_top_y" value="0.0"/>
	<property name="laser_top_z" value="0.42"/>
	<property name="laser_top_roll" value="0"/>
	<property name="laser_top_pitch" value="0"/>
	<property name="laser_top_yaw" value="0"/>

	<!-- *********************** -->
	<!-- upper robot calibration -->
	<!-- *********************** -->
	<!-- tray mount positions | relative to base_link -->
	<property name="tray_x" value="0.2406"/>
	<property name="tray_y" value="0.1900"/>
	<property name="tray_z" value="0.7320"/>
	<property name="tray_roll" value="2.3561"/>
	<property name="tray_pitch" value="0"/>
	<property name="tray_yaw" value="0"/>

	<!-- torso mount positions | relative to base_link -->
	<property name="torso_x" value="0.155"/>
	<property name="torso_y" value="0.0"/>
	<property name="torso_z" value="0.892"/>
	<property name="torso_roll" value="3.1415926"/>
	<property name="torso_pitch" value="0.0"/>
	<property name="torso_yaw" value="0.0"/>

	<!-- arm mount positions | relative to base_link -->
	<property name="arm_x" value="0.040"/>
	<property name="arm_y" value="-0.005"/>
	<property name="arm_z" value="0.83637"/>
	<property name="arm_roll" value="3.1415926"/>
	<property name="arm_pitch" value="0.7854"/>
	<property name="arm_yaw" value="-1.8326"/>

	<!-- *********************************** -->
	<!-- kinematic chain reference positions -->
	<!-- *********************************** -->
	<!-- torso chain calibration_offest! | relative to reference position (see below)-->
	<!-- not used right now
	<property name="torso_lower_neck_pan_cal_offset" value="0.0"/>
	<property name="torso_lower_neck_tilt_cal_offset" value="0.0"/>
	<property name="torso_upper_neck_pan_cal_offset" value="0.0"/>
	<property name="torso_upper_neck_tilt_cal_offset" value="0.0"/>
	-->

	<!-- torso reference positions | used as calibration_rising for torso chain -->
	<!-- ! set these values to make torso straight with (0, 0, 0) joint angles ! -->
	<property name="torso_lower_neck_pan_ref" value="-0.5470" />
	<property name="torso_lower_neck_tilt_ref" value="0.0344" />
	<property name="torso_upper_neck_pan_ref" value="0.0247" />
	<property name="torso_upper_neck_tilt_ref" value="0.02201" />

	<!-- tray reference position | used as calibration_rising for tray chain -->
	<property name="tray_ref" value="4.1451" />

	<!-- head camera axis reference position | used as calibration_rising for head axis chain -->
	<property name="head_axis_ref" value="0.8" />
        <!--property name="head_axis_ref" value="0.75" /-->


	<!-- arm reference positions | used as calibration_rising for arm chain-->
	<property name="arm_1_ref" value="-2.8761" />
	<property name="arm_2_ref" value="-0.1687" />
	<property name="arm_3_ref" value="-0.0274" />
	<property name="arm_4_ref" value="-1.7193" />
	<property name="arm_5_ref" value="0.0342" />
	<property name="arm_6_ref" value="-1.6959" />
	<property name="arm_7_ref" value="1.8707" />

	<!-- ***************************** -->
	<!-- camera calibration properties -->
	<!-- ***************************** -->
	<!-- left | handeye calibration | relative to head_axis_link -->
	<property name="cam_l_x" value="0.0" />
	<property name="cam_l_y" value="0.0" />
	<property name="cam_l_z" value="0.0" />
	<property name="cam_l_roll" value="0.0" />
	<property name="cam_l_pitch" value="0.0" />
	<property name="cam_l_yaw" value="0.0" />

	<!-- right | stereo baseline calibration | relative to left camera -->
	<property name="cam_r_x" value="0.0" />
	<property name="cam_r_y" value="0.0" />
	<property name="cam_r_z" value="0.0" />
	<property name="cam_r_roll" value="0.0" />
	<property name="cam_r_pitch" value="0.0" />
	<property name="cam_r_yaw" value="0.0" />

	<!-- cam3d | handeye calibration | relative to head_axis_link -->
	<property name="cam3d_x" value="0.0" />
	<property name="cam3d_y" value="0.0" />
	<property name="cam3d_z" value="0.0" />
	<property name="cam3d_roll" value="0.0" />
	<property name="cam3d_pitch" value="0.0" />
	<property name="cam3d_yaw" value="0.0" />
</robot>
