<?xml version="1.0"?>
<robot>

	<!-- ***************** -->
	<!-- robot calibration -->
	<!-- ***************** -->
	<!-- torso mount positions | relative to base_link -->
	<property name="torso_x" value="0.155"/>
	<property name="torso_y" value="0.0"/>
	<property name="torso_z" value="0.892"/>
	<property name="torso_roll" value="3.1415926"/>
	<property name="torso_pitch" value="0.0"/>
	<property name="torso_yaw" value="0.0"/>

	<!-- arm mount positions | relative to base_link -->
	<property name="arm_x" value="-0.015982"/>
	<property name="arm_y" value="-0.080992"/>
	<property name="arm_z" value="0.875995"/>
	<property name="arm_roll" value="0.7854"/>
	<property name="arm_pitch" value="0.0"/>
	<property name="arm_yaw" value="-0.2618"/>


	<!-- common properties -->
	<property name="M_PI" value="3.1415926535897931" />

	<!-- torso reference positions -->
	<property name="torso_lower_neck_pan_ref" value="-0.5470" />
	<property name="torso_lower_neck_tilt_ref" value="0.0344" />
	<property name="torso_upper_neck_pan_ref" value="0.0247" />
	<property name="torso_upper_neck_tilt_ref" value="0.02201" />

	<!-- tray reference position -->
	<property name="torso_tray_ref" value="4.1451" />

	<!-- head camera axis reference position -->
	<property name="head_axis_ref" value="+3.14" />

	<!-- arm reference positions -->
	<property name="arm_1_ref" value="-2.8761" />
	<property name="arm_2_ref" value="-0.1687" />
	<property name="arm_3_ref" value="-0.0274" />
	<property name="arm_4_ref" value="-1.7193" />
	<property name="arm_5_ref" value="0.0342" />
	<property name="arm_6_ref" value="-1.6959" />
	<property name="arm_7_ref" value="1.8707" />

	<!-- camera calibration properties -->
	<!-- hand eye calibration -->
	<property name="cam_l_x" value="0.0" />
	<property name="cam_l_y" value="0.0" />
	<property name="cam_l_z" value="0.0" />
	<property name="cam_l_roll" value="0.0" />
	<property name="cam_l_pitch" value="0.0" />
	<property name="cam_l_yaw" value="0.0" />

	<!-- right to left calibration -->
	<property name="cam_r_x" value="0.0" />
	<property name="cam_r_y" value="0.0" />
	<property name="cam_r_z" value="0.0" />
	<property name="cam_r_roll" value="0.0" />
	<property name="cam_r_pitch" value="0.0" />
	<property name="cam_r_yaw" value="0.0" />

	<!-- cam3d to left calibration -->
	<property name="cam3d_x" value="0.0" />
	<property name="cam3d_y" value="0.0" />
	<property name="cam3d_z" value="0.0" />
	<property name="cam3d_roll" value="0.0" />
	<property name="cam3d_pitch" value="0.0" />
	<property name="cam3d_yaw" value="0.0" />
  
</robot>
