<?xml version="1.0"?>
<robot>

	<!-- common properties -->
	<property name="M_PI" value="3.1415926535897931" />

	<!-- head reference positions -->
	<property name="head_pan_ref" value="0.55" />
	<property name="head_tilt_ref" value="0.0" />

	<!-- arm right reference positions -->
	<property name="arm_1_ref" value="-2.8761" />
	<property name="arm_2_ref" value="-0.1687" />
	<property name="arm_3_ref" value="-0.0274" />
	<property name="arm_4_ref" value="-1.7193" />
	<property name="arm_5_ref" value="0.0342" />
	<property name="arm_6_ref" value="-1.6959" />
	<property name="arm_7_ref" value="1.8707" />

	<!-- camera calibration properties -->
	<property name="cam_r_x" value="0.0" />
	<property name="cam_r_y" value="0.0" />
	<property name="cam_r_z" value="0.0" />
	<property name="cam_r_roll" value="0.0" />
	<property name="cam_r_pitch" value="0.0" />
	<property name="cam_r_yaw" value="0.0" />

	<property name="cam_l_x" value="0.0" />
	<property name="cam_l_y" value="0.0" />
	<property name="cam_l_z" value="0.0" />
	<property name="cam_l_roll" value="0.0" />
	<property name="cam_l_pitch" value="0.0" />
	<property name="cam_l_yaw" value="0.0" />

	<property name="tof_x" value="0.0" />
	<property name="tof_y" value="0.0" />
	<property name="tof_z" value="0.0" />
	<property name="tof_roll" value="0.0" />
	<property name="tof_pitch" value="0.0" />
	<property name="tof_yaw" value="0.0" />
  
</robot>
