<?xml version="1.0"?>
<launch>

	<group ns="base">

		<!-- start undercarriage ctrl -->
		<node pkg="cob_undercarriage_ctrl" type="cob_undercarriage_ctrl_node" name="undercarriage_ctrl_node" respawn="false" output="screen">
			<remap from="command" to="twist_controller/command"/>
			<remap from="odometry" to="odometry_controller/odometry"/>
			<param name="boolCtrl" value="1"/>
		</node>

	</group>

</launch>
