<?xml version="1.0"?>
<launch>

	<arg name="robot" default="$(optenv ROBOT !!NO_ROBOT_SET!!)"/>
	<arg name="pkg_hardware_config" default="$(find cob_hardware_config)"/>

	<group ns="base">

		<!-- start undercarriage ctrl -->
		<node pkg="cob_undercarriage_ctrl" type="cob_undercarriage_ctrl_node" name="undercarriage_ctrl_node" respawn="false" output="screen">
			<remap from="command" to="twist_controller/command"/>
			<remap from="odometry" to="odometry_controller/odometry"/>
			<param name="boolCtrl" value="1"/>
		</node>

	</group>

</launch>
