<?xml version="1.0"?>
<launch>

	<arg name="robot"/>
	<arg name="component_name"/>
	
	<group ns="$(arg component_name)">

		<!-- load Cartesian controller config -->
		<rosparam command="load" file="$(find cob_hardware_config)/$(arg robot)/config/$(arg component_name)_cartesian_controller.yaml"/>
		
		<!-- Cartesian controllers -->
		<node name="twist_controller" pkg="cob_twist_controller" type="cob_twist_controller_node" cwd="node" respawn="false" output="screen"/>
		<node name="frame_tracker" pkg="cob_frame_tracker" type="cob_frame_tracker_node" cwd="node" respawn="false" output="screen"/>
		<node name="interactive_target" pkg="cob_frame_tracker" type="interactive_frame_target_node" cwd="node" respawn="false" output="screen"/>

	</group>

</launch>
