<?xml version="1.0"?>
<launch>

	<arg name="robot" default="$(optenv ROBOT !!NO_ROBOT_SET!!)"/>
	<arg name="component_name"/>
	<arg name="pkg_hardware_config" default="$(find cob_hardware_config)"/>
	
	<rosparam command="load" file="$(find cob_hardware_config)/$(arg robot)/config/$(arg component_name)_controller.yaml" ns="$(arg component_name)_controller"/>
	
	<node ns="$(arg component_name)_controller" name="cob_twist_controller_node" pkg="cob_twist_controller" type="cob_twist_controller_node" cwd="node" respawn="false" output="screen"/>

</launch>
