sudo: required
dist: trusty
# Force travis to use its minimal image with default Python settings
language: generic
compiler:
  - gcc
env:
  global:
    - CATKIN_WS=~/catkin_ws
    - CATKIN_WS_SRC=${CATKIN_WS}/src
    - CATKIN_WS_UNDERLAY=~/catkin_ws_underlay
    - CATKIN_WS_UNDERLAY_SRC=${CATKIN_WS_UNDERLAY}/src
    - CI_ROS_DISTRO="indigo"
    - DEFAULT_ROSINSTALL="https://raw.githubusercontent.com/ipa320/setup/master/repositories/cob_$CI_ROS_DISTRO_bringup.rosinstall"
#  matrix:
#    - CI_ROS_DISTRO="indigo"
#    - CI_ROS_DISTRO="jade"
install:
  - sudo sh -c 'echo "deb http://packages.ros.org/ros/ubuntu trusty main" > /etc/apt/sources.list.d/ros-latest.list'
  - wget http://packages.ros.org/ros.key -O - | sudo apt-key add -
  - sudo apt-get update -qq
  - sudo apt-get install -qq -y python-rosdep python-wstool
  - sudo rosdep init
  - rosdep update
  - rosdep install --from-paths ./ -i -y --rosdistro $CI_ROS_DISTRO
script:
  - set -e
  - source /opt/ros/$CI_ROS_DISTRO/setup.bash
  - mkdir -p $CATKIN_WS_UNDERLAY_SRC
  - cd $CATKIN_WS_UNDERLAY
  - if [ -f $TRAVIS_BUILD_DIR/.travis.rosinstall ]; then wstool init src $TRAVIS_BUILD_DIR/.travis.rosinstall; fi
  - if [ ! -f $TRAVIS_BUILD_DIR/.travis.rosinstall ]; then wstool init src $DEFAULT_ROSINSTALL; fi
  - wstool update -t src
  - rosdep install --from-paths src -i -y
  - catkin_make -DCMAKE_BUILD_TYPE=Release install
  - source $CATKIN_WS_UNDERLAY/install/setup.bash
  - mkdir -p $CATKIN_WS_SRC
  - ln -s $TRAVIS_BUILD_DIR $CATKIN_WS_SRC
  - cd $CATKIN_WS_SRC
  - catkin_init_workspace
  - cd $CATKIN_WS
  - catkin_make -DCMAKE_BUILD_TYPE=Release
  - catkin_make run_tests
#  - catkin_test_results
