<?xml version="1.0"?>
<robot>

	<!-- common properties -->
	<property name="M_PI" value="3.1415926535897931" />

	<!-- arm reference positions -->
	<property name="arm_0_ref" value="-1.57" />
	<property name="arm_1_ref" value="-1.57" />
	<property name="arm_2_ref" value="1.57" />
	<property name="arm_3_ref" value="0" />
	<property name="arm_4_ref" value="0" />
	<property name="arm_5_ref" value="0" />
	
	
	
</robot>
