<?xml version="1.0"?>
<robot>

	<!-- common properties -->
	<property name="M_PI" value="3.1415926535897931" />

	<!-- arm reference positions -->
	<property name="arm_0_ref" value="-1.57" />
	<property name="arm_1_ref" value="-1.57" />
	<property name="arm_2_ref" value="1.57" />
	<property name="arm_3_ref" value="0" />
	<property name="arm_4_ref" value="0" />
	<property name="arm_5_ref" value="0" />
	
        <property name="torso_lower_neck_tilt_ref" value="0.9"/>
        <property name="torso_pan_ref" value="0.0"/>
        <property name="torso_upper_neck_tilt_ref" value="0.0"/>
	

	<!-- ***************************** -->
	<!-- camera calibration properties -->
	<!-- ***************************** -->
	<!-- left | handeye calibration | relative to head_axis_link -->
	<property name="cam_l_x" value="-0.0171250371"/>
	<property name="cam_l_y" value="-0.0389120491"/>
	<property name="cam_l_z" value="-0.12027305"/>
	<property name="cam_l_roll" value="2.149627771"/>
	<property name="cam_l_pitch" value="-1.5608998734"/>
	<property name="cam_l_yaw" value="-2.2074792588"/>

	<!-- right | stereo baseline calibration | relative to left camera -->
	<property name="cam_r_x" value="0.044"/>
	<property name="cam_r_y" value="-0.06"/>
	<property name="cam_r_z" value="0.092"/>
	<property name="cam_r_roll" value="-1.57"/>
	<property name="cam_r_pitch" value="0.0"/>
	<property name="cam_r_yaw" value="-1.57"/>

	<!-- cam3d | handeye calibration | relative to head_axis_link -->
	<property name="cam3d_x" value="0.0"/>
	<property name="cam3d_y" value="0.0"/>
	<property name="cam3d_z" value="0.0"/>
	<property name="cam3d_roll" value="-1.57"/>
	<property name="cam3d_pitch" value="0.0"/>
	<property name="cam3d_yaw" value="-1.57"/>
	
</robot>
