<?xml version="1.0"?>
<launch>

	<!--include file="$(find cob_machine)/$(env ROBOT).machine" /-->
	<param name="robot_description" command="$(find xacro)/xacro.py '$(find cob_description)/ros/robots/$(env ROBOT).urdf.xacro'" />
	
	<!-- start robot_state_publisher -->
	<node pkg="robot_state_publisher" type="state_publisher" name="rob_st_pub" />

	<!-- startup hardware -->
	<!-- base -->
	<include file="$(find cob_base)/ros/launch/base.launch" />
	<include file="$(find cob_relayboard)/ros/launch/relayboard.launch" />
	<include file="$(find cob_sick_s300)/ros/launch/front.launch" />
	<include file="$(find cob_sick_s300)/ros/launch/rear.launch" />
	<include file="$(find cob_hokuyo)/ros/launch/hokuyo.launch" />
	
	<!-- upper robot -->
	<include file="$(find cob_tray)/ros/launch/tray.launch" />
	<include file="$(find cob_torso)/ros/launch/torso.launch" />
	<include file="$(find cob_sdh)/ros/launch/sdh.launch" />
	<!--include file="$(find cob_head_axis)/ros/launch/head_axis.launch" /-->
	
	<!-- start teleoperation package-->
	<include file="$(find cob_teleop)/ros/launch/teleop.launch" />
	
</launch>
