<?xml version="1.0"?>
<launch>

	<include file="$(find cob_machine)/cob3-sim.machine" />
	
	<!-- startup simulation -->
	<include file="$(find cob_gazebo_worlds)/ros/launch/$(env ROBOT_ENV).launch" />
	<include file="$(find cob_gazebo)/ros/launch/cob3.launch" />

	<!-- start ik_solver for arm -->
	<node pkg="cob_manipulator" type="cob_ik_solver_kdl" name="cob_ik_solver" ns="arm_controller" cwd="node" respawn="false" output="screen"/>

	<!-- start cartesian interface -->
	<rosparam command="load" ns="arm_controller" file="$(find cob_arm)/ros/launch/$(env ROBOT).yaml"/>
	<node pkg="cob_manipulator" type="move_cart.py" name="move_cart" ns="arm_controller" cwd="node" respawn="false" output="screen"/>

	<!-- start teleoperation package-->
	<include file="$(find cob_teleop)/ros/launch/teleop.launch" />

</launch>
