<?xml version="1.0"?>
<launch>

	<include file="$(find cob_machine)/cob3-sim.machine" />
	
	<!-- startup simulation -->
	<include file="$(find cob_gazebo_worlds)/ros/launch/$(env ROBOT_ENV).launch" />
	<include file="$(find cob_gazebo)/ros/launch/robot.launch" />

	<!-- start nodelet manager -->
  	<node pkg="nodelet" type="nodelet" name="nodelet_manager"  args="manager" output="screen"/>

	<!-- start ik_solver for arm -->
	<node pkg="cob_manipulator" type="cob_ik_solver_kdl" name="cob_ik_solver" ns="arm_controller" cwd="node" respawn="false" output="screen"/>

	<!-- start cartesian interface -->
	<rosparam command="load" ns="arm_controller" file="$(find cob_arm)/ros/launch/$(env ROBOT).yaml"/>
	<node pkg="cob_manipulator" type="move_cart.py" name="move_cart" ns="arm_controller" cwd="node" respawn="false" output="screen"/>

	<!-- provides get_fk, get_ik_solver_info WITH limits -->
	<!-- remember to have safety controller in cob_description/../lbr.urdf.xacro -->
	<include file="$(find cob_manipulator)/ros/launch/cob3_arm_kinematics.launch" />
	<!--include file="$(find cob_arm_navigation)/launch/cob3_arm_navigation.launch" /-->

</launch>
