<?xml version="1.0"?>
<launch>

  <arg name="robot" />
  <arg name="pkg_hardware_config" default="$(find cob_hardware_config)"/>
  
  <group ns="base">
    <!-- load controller configs -->
    <rosparam command="load" file="$(arg pkg_hardware_config)/$(arg robot)/config/base_controller.yaml"/>

    <!-- start controllers -->
    <node name="joint_state_controller_spawner" pkg="controller_manager" type="spawner" args="--timeout 60 --shutdown-timeout 1 joint_state_controller" respawn="true" />
    <node name="twist_controller_spawner" pkg="controller_manager" type="spawner" args="--timeout 60 --shutdown-timeout 1 twist_controller" respawn="true" output="screen"/>
    <node name="odom_controller_spawner" pkg="controller_manager" type="spawner" args="--timeout 60 --shutdown-timeout 1 odometry_controller" respawn="true" output="screen"/>
    
    <!-- simulated driver services -->
    <node pkg="cob_controller_configuration_gazebo" type="gazebo_services.py" name="gazebo_services" cwd="node" respawn="false" output="screen" />
    
    <!-- temporary relay -->
    <node name="joint_states_relay" pkg="topic_tools" type="relay" args="joint_states /joint_states" cwd="node" respawn="true" output="screen"/>
  </group>

</launch>
