<?xml version="1.0"?>
<launch>

  <arg name="robot" />
  <arg name="pkg_hardware_config" default="$(find cob_hardware_config)"/>
  <arg name="where" />

  <!-- scan filters-->
  <rosparam command="load" file="$(arg pkg_hardware_config)/$(arg robot)/config/laser_$(arg where).yaml" ns="laser_$(arg where)" />
  <node pkg="cob_sick_s300" type="cob_scan_filter" name="scanner_$(arg where)_filter" respawn="false" output="screen" ns="laser_$(arg where)" >
    <remap from="scan" to="/scan_$(arg where)_raw"/>
    <remap from="scan_filtered" to="/scan_$(arg where)"/>
  </node>

</launch>
