<?xml version="1.0"?>
<launch>

	<arg name="robot"/>
	<arg name="component_name"/>
	<arg name="version"/>
	<arg name="side" default=""/>
	<arg name="controllers"/>
	
	<rosparam file="$(find cob_controller_configuration_gazebo)/controller/$(arg component_name)_controller_$(arg version)_velocity.yaml" command="load" />
	
	<rosparam command="load" file="$(find cob_hardware_config)/$(arg robot)/config/$(arg component_name)$(arg side)_controller.yaml" ns="$(arg component_name)$(arg side)_controller"/>
	
	<!-- spawn cob_trajectory_controller-->
	<node ns="$(arg component_name)$(arg side)_controller" name="joint_trajectory_controller" pkg="cob_trajectory_controller" type="cob_trajectory_controller_sim" cwd="node" respawn="false" output="screen"/>
	
	<node ns="$(arg component_name)$(arg side)_controller" name="cob_twist_controller_node" pkg="cob_twist_controller" type="cob_twist_controller_node" cwd="node" respawn="false" output="screen"/>
	
	<node ns="$(arg component_name)$(arg side)_controller" name="cob_control_topic_mapper" pkg="cob_controller_configuration_gazebo" type="cob_control_topic_mapper.py" cwd="node" respawn="false" output="screen"/>
	
	<!-- velocity controller do not work right - probably wrong parameterization (control code seems ok) -->
	<node name="$(arg component_name)$(arg side)_velocity_controllers_spawner" pkg="controller_manager" type="spawner" args="$(arg controllers)" />

</launch>
