<?xml version="1.0"?>
<launch>

	<arg name="robot"/>
	<arg name="component_name"/>
	<arg name="version"/>
	<arg name="side" default=""/>
	
	<!-- NEW CONTROL -->
	<!-- controller parameters -->
	<rosparam command="load" file="$(find cob_controller_configuration_gazebo)/controller/$(arg component_name)/$(arg component_name)_controller_$(arg version)$(arg side)_velocityinterfaces.yaml"/>
	
	<!-- control_mode_adapter -->
	<node ns="$(arg component_name)$(arg side)_controller" name="$(arg component_name)$(arg side)_control_mode_adapter_node" pkg="cob_control_mode_adapter" type="cob_control_mode_adapter_node" cwd="node" respawn="false" output="screen"/>
	
	<!-- hardware_interface -->
	<!-- using gazebo_ros plugin as controller_manager -->
	<node ns="$(arg component_name)$(arg side)_controller" name="gazebo_services" pkg="cob_controller_configuration_gazebo" type="gazebo_services.py"  cwd="node" respawn="false" output="screen"/>
	
	<!-- Cartesian stuff -->
	<node ns="$(arg component_name)$(arg side)_controller" name="cob_twist_controller_node" pkg="cob_twist_controller" type="cob_twist_controller_node" cwd="node" respawn="false" output="screen"/>
	<node ns="$(arg component_name)$(arg side)_controller" name="frame_tracker" pkg="cob_frame_tracker" type="cob_frame_tracker_node" cwd="node" respawn="false" output="screen"/>
	<node ns="$(arg component_name)$(arg side)_controller" name="interactive_target" pkg="cob_frame_tracker" type="interactive_frame_target.py" cwd="node" respawn="false" output="screen"/>

</launch>
