<?xml version="1.0"?>
<launch>

	<arg name="robot"/>
	<arg name="component_name"/>
	<arg name="side" default=""/>
	
	<!-- controllers -->
	<rosparam ns="$(arg component_name)$(arg side)" command="load" file="$(find cob_hardware_config)/$(arg robot)/config/$(arg component_name)$(arg side)_cartesian_controller.yaml"/>
	
	<!-- Cartesian stuff -->
	<node ns="$(arg component_name)$(arg side)" name="twist_controller" pkg="cob_twist_controller" type="cob_twist_controller_node" cwd="node" respawn="false" output="screen">
		<remap from="base" to="/base"/>
	</node>
	<node ns="$(arg component_name)$(arg side)" name="frame_tracker" pkg="cob_frame_tracker" type="cob_frame_tracker_node" cwd="node" respawn="false" output="screen"/>
	<node ns="$(arg component_name)$(arg side)" name="interactive_target" pkg="cob_frame_tracker" type="interactive_frame_target.py" cwd="node" respawn="false" output="screen"/>

</launch>
