<?xml version="1.0"?>
<launch>

	<arg name="robot"/>
	<arg name="component_name"/>
	<arg name="version"/>
	<arg name="side" default=""/>
	<arg name="start_controllers"/>
	<arg name="stop_controllers"/>
	
	<rosparam file="$(find cob_controller_configuration_gazebo)/controller/$(arg component_name)/$(arg component_name)_controller_$(arg version)$(arg side)_hybrid.yaml" command="load" />
	
	<rosparam command="load" file="$(find cob_hardware_config)/$(arg robot)/config/$(arg component_name)$(arg side)_controller.yaml" ns="$(arg component_name)$(arg side)_controller"/>
	
	<!-- spawn cob_trajectory_controller-->
	<node ns="$(arg component_name)$(arg side)_controller" name="joint_trajectory_controller" pkg="cob_trajectory_controller" type="cob_trajectory_controller_sim" cwd="node" respawn="false" output="screen"/>
	
	<node ns="$(arg component_name)$(arg side)_controller" name="cob_twist_controller_node" pkg="cob_twist_controller" type="cob_twist_controller_node" cwd="node" respawn="false" output="screen"/>
	
	<node ns="$(arg component_name)$(arg side)_controller" name="cob_controller_adapter_gazebo" pkg="cob_controller_configuration_gazebo" type="cob_controller_adapter_gazebo.py" cwd="node" respawn="false" output="screen"/>
	
	<node name="$(arg component_name)$(arg side)_hybrid_start_controllers_spawner" pkg="controller_manager" type="spawner" args="$(arg start_controllers)" />
	<node name="$(arg component_name)$(arg side)_hybrid_stop_controllers_spawner" pkg="controller_manager" type="spawner" args="--stopped $(arg stop_controllers)" />
	
	<node ns="$(arg component_name)$(arg side)_controller" name="gazebo_services" pkg="cob_controller_configuration_gazebo" type="gazebo_services.py"  cwd="node" respawn="false" output="screen" />

</launch>
