<?xml version="1.0"?>
<launch>

	<arg name="component_name" />
	<arg name="version"/>
	<arg name="side" default=""/>
	
	<rosparam file="$(find cob_controller_configuration_gazebo)/controller/$(arg component_name)/$(arg component_name)_controller_$(arg version)$(arg side).yaml" command="load" />

	<node name="$(arg component_name)$(arg side)_controller_spawner" pkg="controller_manager" type="spawner" args="--timeout 60 $(arg component_name)$(arg side)_controller" />
	
	 <node ns="$(arg component_name)$(arg side)_controller" name="gazebo_services" pkg="cob_controller_configuration_gazebo" type="gazebo_services.py"  cwd="node" respawn="false" output="screen" />

</launch>
