<?xml version="1.0"?>
<launch>

	<arg name="robot" />
	<arg name="component_name" />
	<arg name="side" default=""/>
	
	<rosparam ns="$(arg component_name)$(arg side)" command="load" file="$(find cob_hardware_config)/$(arg robot)/config/$(arg component_name)$(arg side)_controller.yaml"/>

	<node ns="$(arg component_name)$(arg side)" name="joint_state_controller_spawner" pkg="controller_manager" type="spawner" args="--timeout 60 --shutdown-timeout 1 joint_state_controller" respawn="true"/>
	<node ns="$(arg component_name)$(arg side)" name="joint_trajectory_controller_spawner" pkg="controller_manager" type="spawner" args="--timeout 60 --shutdown-timeout 1 joint_trajectory_controller" respawn="true"/>
	<node ns="$(arg component_name)$(arg side)" name="joint_states_relay" pkg="topic_tools" type="relay" args="joint_states /joint_states" cwd="node" respawn="true" output="screen"/>
	
	<node ns="$(arg component_name)$(arg side)" name="gazebo_services" pkg="cob_controller_configuration_gazebo" type="gazebo_services.py"  cwd="node" respawn="false" output="screen" />
	
	<!-- no mode-switching available for cob3-X components -->

</launch>
