<?xml version="1.0"?>
<launch>

	<!--include file="$(find cob_machine)/$(env ROBOT).machine" /-->
	<include file="$(find cob_description)/ros/robots/upload_robot.launch" />
	
	<!-- start robot_state_publisher -->
	<node pkg="robot_state_publisher" type="state_publisher" name="rob_st_pub">
	</node>

	<!-- startup hardware -->
	<!-- base -->
	<include file="$(find cob_base)/ros/launch/base.launch" />
	<include file="$(find cob_sick_s300)/ros/launch/front.launch" />
	<include file="$(find cob_sick_s300)/ros/launch/rear.launch" />

	<include file="$(find cob_relayboard)/ros/launch/relayboard_sim.launch" />
	<include file="$(find cob_teleop)/ros/launch/teleop.launch" />
	<include file="$(find kinect_camera)/launch/kinect_node.launch" />

</launch>
