<?xml version="1.0" ?>
<robot>
	<!-- ***************** -->
	<!-- base calibration -->
	<!-- ***************** -->
	<!-- laser front mount positions | relative to base_link -->
	<property name="def_laser_front_x" value="0.244"/>
	<property name="def_laser_front_y" value="0.0"/>
	<property name="def_laser_front_z" value="0.08"/>
	<property name="def_laser_front_roll" value="0.0"/>
	<property name="def_laser_front_pitch" value="0.0"/>
	<property name="def_laser_front_yaw" value="0.0"/>

	<!-- laser rear mount positions | relative to base_link -->
	<property name="def_laser_left_x" value="-0.122"/>
	<property name="def_laser_left_y" value="0.21131"/>
	<property name="def_laser_left_z" value="0.08"/>
	<property name="def_laser_left_roll" value="0.0"/>
	<property name="def_laser_left_pitch" value="0.0"/>
	<property name="def_laser_left_yaw" value="2.094"/>

	<!-- laser top mount positions | relative to base_link -->
	<property name="def_laser_right_x" value="-0.122"/>
	<property name="def_laser_right_y" value="-0.21131"/>
	<property name="def_laser_right_z" value="0.08"/>
	<property name="def_laser_right_roll" value="0.0"/>
	<property name="def_laser_right_pitch" value="0.0"/>
	<property name="def_laser_right_yaw" value="-2.094"/>

	<!-- *********************** -->
	<!-- upper robot calibration -->
	<!-- *********************** -->

	<!-- torso mount positions | relative to base_link -->
	<property name="def_torso_x" value="0.0"/>
	<property name="def_torso_y" value="0.0"/>
	<property name="def_torso_z" value="0.26411"/>
	<property name="def_torso_roll" value="0.0"/>
	<property name="def_torso_pitch" value="0.0"/>
	<property name="def_torso_yaw" value="0.0"/>

	<!-- head mount positions | relative to torso_3_link -->
	<property name="def_head_x" value="0.0"/>
	<property name="def_head_y" value="0.0"/>
	<property name="def_head_z" value="0.610"/>
	<property name="def_head_roll" value="0.0"/>
	<property name="def_head_pitch" value="0.0"/>
	<property name="def_head_yaw" value="0.0"/>
	
	<!-- head sensors mount positions | relative to head_3_link -->
	<property name="def_sensorring_x" value="0.0"/>
	<property name="def_sensorring_y" value="0.0"/>
	<property name="def_sensorring_z" value="0.007"/>
	<property name="def_sensorring_roll" value="0.0"/>
	<property name="def_sensorring_pitch" value="0.0"/>
	<property name="def_sensorring_yaw" value="0.0"/>

	<!-- arm right mount positions | relative to torso_3_link -->
	<property name="def_arm_right_x" value="0.0"/>
	<property name="def_arm_right_y" value="-0.148"/>
	<property name="def_arm_right_z" value="0.55"/>
	<property name="def_arm_right_roll" value="1.57097"/>
	<property name="def_arm_right_pitch" value="0.0"/>
	<property name="def_arm_right_yaw" value="0.0"/>
	
	<!-- arm left mount positions | relative to torso_3_link -->
	<property name="def_arm_left_x" value="0.0"/>
	<property name="def_arm_left_y" value="0.148"/>
	<property name="def_arm_left_z" value="0.55"/>
	<property name="def_arm_left_roll" value="1.57097"/>
	<property name="def_arm_left_pitch" value="0.0"/>
	<property name="def_arm_left_yaw" value="3.14159"/>
	
	<!-- *********************************** -->
	<!-- kinematic chain reference positions -->
	<!-- *********************************** -->
	<!-- torso chain calibration_offest! | relative to reference position (see below)-->
	<property name="def_torso_1_ref" value="0.0"/>
	<property name="def_torso_2_ref" value="0.0"/>
	<property name="def_torso_3_ref" value="0.0"/>

	<!-- head reference positions | used as calibration_rising for head axis chain -->
	<property name="def_head_1_ref" value="0.0"/>
	<property name="def_head_2_ref" value="0.0"/>
	<property name="def_head_3_ref" value="0.0"/>
	
	<property name="def_sensorring_ref" value="0.0"/>

	<!-- arm right reference positions | used as calibration_rising for arm chain-->
	<property name="def_arm_right_1_ref" value="0.0"/>
	<property name="def_arm_right_2_ref" value="0.0"/>
	<property name="def_arm_right_3_ref" value="0.0"/>
	<property name="def_arm_right_4_ref" value="0.0"/>
	<property name="def_arm_right_5_ref" value="0.0"/>
	<property name="def_arm_right_6_ref" value="0.0"/>
	<property name="def_arm_right_7_ref" value="0.0"/>
	
	<!-- arm left reference positions | used as calibration_rising for arm chain-->
	<property name="def_arm_left_1_ref" value="0.0"/>
	<property name="def_arm_left_2_ref" value="0.0"/>
	<property name="def_arm_left_3_ref" value="0.0"/>
	<property name="def_arm_left_4_ref" value="0.0"/>
	<property name="def_arm_left_5_ref" value="0.0"/>
	<property name="def_arm_left_6_ref" value="0.0"/>
	<property name="def_arm_left_7_ref" value="0.0"/>

</robot>
