<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"
       name="cob4-1" >

  <!-- common stuff -->
  <xacro:include filename="$(find cob_description)/urdf/common.xacro" />
  <xacro:include filename="$(find cob_description)/urdf/materials.urdf.xacro" />
  <xacro:include filename="$(find schunk_description)/urdf/materials.urdf.xacro" />

  <!-- calibration -->
  <xacro:include filename="$(find cob_hardware_config)/cob4-1/urdf/properties.urdf.xacro" />

  <!-- base -->
  <xacro:include filename="$(find cob_description)/urdf/cob4_base/base.urdf.xacro" />

  <!-- torso -->
  <xacro:include filename="$(find cob_description)/urdf/cob4_torso/torso_2dof_realsense.urdf.xacro" />

  <!-- head -->
  <xacro:include filename="$(find cob_description)/urdf/cob4_head/head.urdf.xacro" />

  <!-- sensorring -->
  <xacro:include filename="$(find cob_description)/urdf/cob4_sensorring/sensorring_asus.urdf.xacro" />

  <!-- composition of the robot -->
  <xacro:base name="base" use_old_joint_names="false"/>
  <gazebo>
    <plugin name="ros_control" filename="libhwi_switch_gazebo_ros_control.so">
      <robotNamespace>base</robotNamespace>
      <filterJointsParam>joint_names</filterJointsParam>
    </plugin>
  </gazebo>

  <xacro:torso name="torso" parent="base_link">
    <origin xyz="${torso_x} ${torso_y} ${torso_z}" rpy="${torso_roll} ${torso_pitch} ${torso_yaw}" />
  </xacro:torso>
  <gazebo>
    <plugin name="ros_control" filename="libhwi_switch_gazebo_ros_control.so">
      <robotNamespace>torso</robotNamespace>
      <filterJointsParam>joint_names</filterJointsParam>
    </plugin>
  </gazebo>

  <xacro:head name="head" parent="torso_3_link">
    <origin xyz="${head_x} ${head_y} ${head_z}" rpy="${head_roll} ${head_pitch} ${head_yaw}" />
  </xacro:head>
  <gazebo>
    <plugin name="ros_control" filename="libhwi_switch_gazebo_ros_control.so">
      <robotNamespace>head</robotNamespace>
      <filterJointsParam>joint_names</filterJointsParam>
    </plugin>
  </gazebo>

  <xacro:sensorring name="sensorring" parent="head_3_link">
    <origin xyz="${sensorring_x} ${sensorring_y} ${sensorring_z}" rpy="${sensorring_roll} ${sensorring_pitch} ${sensorring_yaw}" />
  </xacro:sensorring>
  <gazebo>
    <plugin name="ros_control" filename="libhwi_switch_gazebo_ros_control.so">
      <robotNamespace>sensorring</robotNamespace>
      <filterJointsParam>joint_names</filterJointsParam>
    </plugin>
  </gazebo>

</robot>
