<?xml version="1.0"?>
<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       name="raw3-3" >
  
  <!-- common stuff -->
  <include filename="$(find cob_description)/urdf/common.xacro" />
  <include filename="$(find cob_description)/urdf/materials.urdf.xacro" />

  <include filename="$(find cob_calibration_data)/raw3-3/calibration/calibration.urdf.xacro" />   
  <!-- raw base -->
  <include filename="$(find raw_description)/urdf/base/base.urdf.xacro" />

  <!-- torso -->
  <!--include filename="$(find raw_description)/urdf/torso/torso.urdf.xacro" /-->

  <!-- frida --> 
  <include filename="$(find frida_description)/urdf/frida.urdf.xacro" />

  <!-- prace gripper -->
  <include filename="$(find prace_gripper_description)/urdf/prace_gripper.urdf.xacro"/>

  <!-- generic simulator_gazebo plugins for starting mechanism control, ros time, ros battery -->
  <include filename="$(find cob_description)/gazebo/gazebo.urdf.xacro" />

  <xacro:raw_base name="base"/>	<!--with new collision_model, but no platform_controller available yet-->

  <xacro:frida parent="base_tower" name="arm">
    <origin xyz="0 -0.029 0" rpy="0 0 -3.14159265" />
  </xacro:frida>

  <xacro:prace_gripper name="gripper_left" parent="arm_left_7_link">
    <origin xyz="0.0 0.0 0.0561" rpy="0 0 0" />
  </xacro:prace_gripper>

  <xacro:prace_gripper name="gripper_right" parent="arm_right_7_link">
    <origin xyz="0.0 0.0 0.0561" rpy="0 0 0" />
  </xacro:prace_gripper>

</robot>
