<?xml version="1.0"?>
<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       name="raw3-3" >
  
  <!-- common stuff -->
  <include filename="$(find cob_description)/urdf/common.xacro" />
  <include filename="$(find cob_description)/urdf/materials.urdf.xacro" />

  <include filename="$(find cob_hardware_config)/raw3-3/urdf/properties.urdf.xacro" />   
  <!-- raw base -->
  <include filename="$(find raw_description)/urdf/base_short/base.urdf.xacro" />

  <!-- raw tower -->
  <include filename="$(find raw_description)/urdf/tower_symetric/tower.urdf.xacro" />

  <!-- frida --> 
  <include filename="$(find frida_description)/urdf/frida.urdf.xacro" />

  <!-- frida adapter -->
  <include filename="$(find prace_common)/urdf/adapter/tower_frida_adapter.urdf.xacro" />  

  <!-- prace gripper -->
  <include filename="$(find prace_gripper_description)/urdf/prace_gripper.urdf.xacro"/>

  <!-- prace neck -->
  <include filename="$(find prace_common)/urdf/neck/neck.urdf.xacro" />  
  
  <!-- prace head -->
  <include filename="$(find prace_common)/urdf/head/head.urdf.xacro" />
 
  <!-- generic simulator_gazebo plugins for starting mechanism control, ros time, ros battery -->
  <include filename="$(find cob_description)/gazebo/gazebo.urdf.xacro" />

  <xacro:raw_base name="base"/>

  <xacro:tower_symetric name="tower" parent="base_link">
      <origin xyz="${tower_x} ${tower_y} ${tower_z}" rpy="${tower_roll} ${tower_pitch} ${tower_yaw}" />
  </xacro:tower_symetric>

  <xacro:tower_frida_adapter name="adapter" parent="tower_base_link">
      <origin xyz="0.0905 0 0.2305" rpy="0 0 0" />
  </xacro:tower_frida_adapter>

  <xacro:frida name="arm" parent="base_link">
      <origin xyz="${arm_x} ${arm_y} ${arm_z}" rpy="${arm_roll} ${arm_pitch} ${arm_yaw}" />
  </xacro:frida>

  <xacro:prace_gripper name="gripper_left" parent="arm_left_6_link">
      <origin xyz="${gripper_left_x} ${gripper_left_y} ${gripper_left_z}" rpy="${gripper_left_roll} ${gripper_left_pitch} ${gripper_left_yaw}" />  
  </xacro:prace_gripper>

  <xacro:prace_gripper name="gripper_right" parent="arm_right_6_link">
      <origin xyz="${gripper_right_x} ${gripper_right_y} ${gripper_right_z}" rpy="${gripper_right_roll} ${gripper_right_pitch} ${gripper_right_yaw}" />  
  </xacro:prace_gripper>

  <xacro:neck name="neck" parent="arm_torso_link">
      <origin xyz="${neck_x} ${neck_y} ${neck_z}" rpy="${neck_roll} ${neck_pitch} ${neck_yaw}" />
  </xacro:neck>

  <xacro:head name="head" parent="neck_mount_link">
      <origin xyz="${head_x} ${head_y} ${head_z}" rpy="${head_roll} ${head_pitch} ${head_yaw}" />
  </xacro:head>

</robot>
