<?xml version="1.0"?>
<launch>

	<include file="$(find cob_bringup)/tools/dashboard.launch" />

	<!-- visualize camera images -->
	<node name="image_view_left" pkg="image_view" type="image_view" args="image:=/stereo/left/image_raw" respawn="false" output="screen" />
	<node name="image_view_right" pkg="image_view" type="image_view" args="image:=/stereo/right/image_raw" respawn="false" output="screen" />
	<node name="image_view_cam3d" pkg="image_view" type="image_view" args="image:=/cam3d/rgb/image_color" respawn="false" output="screen" />

</launch>
