<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"
       name="cob3-8" >
  
  <!-- common stuff -->
  <xacro:include filename="$(find cob_description)/urdf/common.xacro" />
  <xacro:include filename="$(find cob_description)/urdf/materials.urdf.xacro" />
  <xacro:include filename="$(find schunk_description)/urdf/materials.urdf.xacro" />

  <!-- calibration -->
  <xacro:include filename="$(find cob_hardware_config)/cob3-8/urdf/properties.urdf.xacro" />
  
  <!-- base -->
  <xacro:include filename="$(find cob_description)/urdf/cob3_base/base.urdf.xacro" />

  <!-- tray -->
  <xacro:include filename="$(find cob_description)/urdf/cob3_tray/tray.urdf.xacro" />
 
  <!-- torso -->
  <xacro:include filename="$(find cob_description)/urdf/cob3_torso/torso_v2.urdf.xacro" />

  <!-- head -->
  <xacro:include filename="$(find cob_description)/urdf/cob3_head/head_kinect.urdf.xacro" />

  <!-- arm -->
  <xacro:include filename="$(find schunk_description)/urdf/lwa4d/lwa4d.urdf.xacro" />

  <!-- sdh -->
  <xacro:include filename="$(find schunk_description)/urdf/pg70/pg70.urdf.xacro" />

  <!-- generic simulator_gazebo plugins for starting mechanism control, ros time, ros battery -->
  <xacro:include filename="$(find cob_description)/gazebo/gazebo.urdf.xacro" />
  
  <!-- composition of the robot -->
  <xacro:base name="base"/>

  <xacro:tray name="tray" parent="base_link">
    <origin xyz="${tray_x} ${tray_y} ${tray_z}" rpy="${tray_roll} ${tray_pitch} ${tray_yaw}" />
  </xacro:tray>

  <xacro:torso name="torso" parent="base_link">
    <origin xyz="${torso_x} ${torso_y} ${torso_z}" rpy="${torso_roll} ${torso_pitch} ${torso_yaw}" />
  </xacro:torso>
  
  <xacro:schunk_lwa4d name="arm" parent="base_link">
    <origin xyz="${arm_x} ${arm_y} ${arm_z}" rpy="${arm_roll} ${arm_pitch} ${arm_yaw}" />
  </xacro:schunk_lwa4d>
  
  <xacro:head name="head" parent="torso_upper_neck_tilt_link">
    <origin xyz="${head_x} ${head_y} ${head_z}" rpy="${head_roll} ${head_pitch} ${head_yaw}" />
  </xacro:head>
  
  <xacro:schunk_pg70 name="pg70" parent="arm_7_link" pg70_finger_left_ref="${pg70_finger_left_ref}" pg70_finger_right_ref="${pg70_finger_right_ref}" >
    <origin xyz="${pg70_x} ${pg70_y} ${pg70_z}" rpy="${pg70_roll} ${pg70_pitch} ${pg70_yaw}" />
  </xacro:schunk_pg70>
  
</robot>
