<?xml version="1.0"?>
<launch>

	<!-- send ROBOT parameters to parameter server -->
	<rosparam command="load" ns="/script_server/base" file="$(find cob_default_robot_config)/robots/cob4-2/script_server/base_configurations.yaml"/>
	<rosparam command="load" ns="/script_server/torso" file="$(find cob_default_robot_config)/robots/cob4-2/script_server/torso_joint_configurations.yaml"/>
	<rosparam command="load" ns="/script_server/head" file="$(find cob_default_robot_config)/robots/cob4-2/script_server/head_joint_configurations.yaml"/>
	<rosparam command="load" ns="/script_server/sensorring" file="$(find cob_default_robot_config)/robots/cob4-2/script_server/sensorring_joint_configurations.yaml"/>
	<rosparam command="load" ns="/script_server/light_base" file="$(find cob_default_robot_config)/robots/cob4-2/script_server/light_base_configurations.yaml"/>
	<rosparam command="load" ns="/script_server/light_torso" file="$(find cob_default_robot_config)/robots/cob4-2/script_server/light_torso_configurations.yaml"/>
	<rosparam command="load" ns="/script_server/behavior" file="$(find cob_default_robot_config)/robots/cob4-2/script_server/behavior.yaml"/>
	<rosparam command="load" ns="/script_server/sound" file="$(find cob_default_robot_config)/robots/cob4-2/script_server/sound.yaml"/>

</launch>
