<?xml version="1.0"?>
<launch>

	<!-- send ROBOT parameters to parameter server -->
	<rosparam command="load" ns="/script_server/tray" file="$(find cob_default_robot_config)/cob3-8/tray_joint_configurations.yaml"/>
	<rosparam command="load" ns="/script_server/torso" file="$(find cob_default_robot_config)/cob3-8/torso_joint_configurations.yaml"/>
	<rosparam command="load" ns="/script_server/head" file="$(find cob_default_robot_config)/cob3-8/head_joint_configurations.yaml"/>
	<rosparam command="load" ns="/script_server/arm" file="$(find cob_default_robot_config)/cob3-8/arm_joint_configurations.yaml"/>
	<rosparam command="load" ns="/script_server/gripper" file="$(find cob_default_robot_config)/cob3-8/pg70_joint_configurations.yaml"/>
	<rosparam command="load" ns="/script_server/light" file="$(find cob_default_robot_config)/cob3-8/light_configurations.yaml"/>
	<rosparam command="load" ns="/script_server/sound" file="$(find cob_default_robot_config)/cob3-8/sound_configurations.yaml"/>
	
</launch>
