<?xml version="1.0"?>
<launch>

	<arg name="robot" default="$(optenv ROBOT !!NO_ROBOT_SET!!)"/>
	<arg name="sim" default="false" />
	<arg name="pkg_hardware_config" default="$(find cob_hardware_config)"/>

	<group ns="base_controller">

		<!-- upload parameters -->
		<param name="IniDirectory" value="$(arg pkg_hardware_config)/$(arg robot)/config/base/"/>
		<param name="timeout" value="0.2"/>
		<param name="PublishEffort" value="false"/>
		<param name="max_trans_velocity" value="1.1"/>	<!-- default: 1.1 m/s -->
		<param name="max_rot_velocity" value="1.8"/>	<!-- default: 1.8 rad/s -->

		<!-- start underlying components - base_drive_chain -->
		<node if="$(arg sim)" pkg="cob_base_drive_chain" type="cob_base_drive_chain_sim_node" name="base_drive_chain_node" respawn="false" output="screen">
			<remap from="/base_bl_caster_r_wheel_controller/command" to="/base/base_bl_caster_r_wheel_controller/command"/>
			<remap from="/base_br_caster_r_wheel_controller/command" to="/base/base_br_caster_r_wheel_controller/command"/>
			<remap from="/base_fl_caster_r_wheel_controller/command" to="/base/base_fl_caster_r_wheel_controller/command"/>
			<remap from="/base_fr_caster_r_wheel_controller/command" to="/base/base_fr_caster_r_wheel_controller/command"/>
			<remap from="/base_bl_caster_rotation_controller/command" to="/base/base_bl_caster_rotation_controller/command"/>
			<remap from="/base_br_caster_rotation_controller/command" to="/base/base_br_caster_rotation_controller/command"/>
			<remap from="/base_fl_caster_rotation_controller/command" to="/base/base_fl_caster_rotation_controller/command"/>
			<remap from="/base_fr_caster_rotation_controller/command" to="/base/base_fr_caster_rotation_controller/command"/>
			<remap from="/joint_states" to="/base/joint_states"/>
		</node>
		<node unless="$(arg sim)" pkg="cob_base_drive_chain" type="cob_base_drive_chain_node" name="base_drive_chain_node" respawn="false" output="screen"/>

	</group>

</launch>
