<?xml version="1.0"?>
<launch>

	<arg name="robot" default="$(optenv ROBOT !!NO_ROBOT_SET!!)"/>
	<arg name="pkg_hardware_config" default="$(find cob_hardware_config)"/>
	<arg name="component_name"/>
	<arg name="can_device"/>
	<arg name="interval_ms"/>
	<arg name="overflow" default="0"/>
	<arg name="use_external_sync"/>
	<arg name="start_external_sync"/>
	<arg name="reset_errors_before_recover" default="false"/>
	
	<!-- start external sync node if requested -->
	<node ns="$(arg component_name)" pkg="canopen_chain_node" type="canopen_sync_node" name="sync_$(arg can_device)" output="screen" if="$(arg start_external_sync)">
		<rosparam subst_value="True">{bus: { device: $(arg can_device) }, sync: { interval_ms: $(arg interval_ms), overflow: $(arg overflow) } }</rosparam>
	</node>

	<!-- start canopen node -->
	<node ns="$(arg component_name)" pkg="canopen_motor_node" type="canopen_motor_node" name="driver" output="screen">
		<rosparam command="load" file="$(arg pkg_hardware_config)/robots/$(arg robot)/config/$(arg component_name)_driver.yaml"/>
		<rosparam subst_value="True">{bus: { device: $(arg can_device) } }</rosparam>
		<rosparam subst_value="True" if="$(arg use_external_sync)">{sync: { interval_ms: $(arg interval_ms), overflow: $(arg overflow) } }</rosparam>
		<param name="bus/master_allocator" value="canopen::ExternalMaster::Allocator" if="$(arg use_external_sync)"/>
		<param name="reset_errors_before_recover" value="$(arg reset_errors_before_recover)"/>
	</node>

</launch>
