<?xml version="1.0"?>
<launch>

	<arg name="robot" default="$(optenv ROBOT !!NO_ROBOT_SET!!)" />
	<arg name="pkg_hardware_config" default="$(find cob_hardware_config)"/>
	<arg name="component" />
	<arg name="driver" />

	<!-- upload default configuration parameters -->
	<include file="$(find cob_default_robot_config)/upload_param.launch" >
		<arg name="robot" value="$(arg robot)" />
	</include>

	<!-- upload robot_description -->
	<include file="$(arg pkg_hardware_config)/common/upload_robot.launch" >
		<arg name="robot" value="$(arg robot)" />
	</include>

	<!-- start robot_state_publisher -->
	<node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher"/>

	<!-- start driver -->
	<include file="$(find cob_bringup)/drivers/$(arg driver).launch" >
	    <arg name="component_name" value="$(arg component)" />
		<arg name="robot" value="$(arg robot)" />
	</include>

</launch>
