<?xml version="1.0"?>
<launch>

	<arg name="robot" default="$(optenv ROBOT !!NO_ROBOT_SET!!)"/>
	<arg name="name" default="cam3d"/>

	<!-- sensor message gateway node (forwards sensor messages in a desired rate) -->
	<node ns="/cob_image_flip" pkg="cob_image_flip" type="kinect_image_flip" name="kinect_image_flip_$(arg name)" output="screen"> <!--launch-prefix="valgrind"-->
		<rosparam command="load" file="$(find cob_hardware_config)/$(arg robot)/config/image_flip_params_$(arg name).yaml"/>
		<param name="robot" type="string" value="$(arg robot)"/>
		<remap from="~pointcloud_in" to="/$(arg name)/rgb/points"/>
		<remap from="~pointcloud_out" to="/$(arg name)/flip/rgb/points"/>
		<remap from="~colorimage_in" to="/$(arg name)/rgb/image_raw"/>
		<remap from="~colorimage_out" to="/$(arg name)/flip/rgb/image_raw"/>
	</node>

</launch>
