<?xml version="1.0"?>

<launch>
    <arg name="start_manager" default="true"/>
    <arg name="camera_name" default="cam3d"/>
    <arg name="nodelet_manager" default="cam3d_nodelet_manager"/>
    <arg name="robot" default="$(optenv ROBOT !!NO_ROBOT_SET!!)"/>

  <node if="$(arg start_manager)" pkg="nodelet" type="nodelet" name="$(arg nodelet_manager)"  args="manager" output="screen"/>
	
  <node pkg="nodelet" type="nodelet" name="ImageFlipNodelet" ns="/cob_image_flip" args="load cob_image_flip/ImageFlipNodelet /$(arg camera_name)/$(arg nodelet_manager)" output="screen">
    <rosparam command="load" file="$(find cob_hardware_config)/$(arg robot)/config/image_flip_params_$(arg name).yaml"/>
    <remap from="~pointcloud_in" to="/$(arg camera_name)/rgb/points"/>
    <remap from="~pointcloud_out" to="/$(arg camera_name)_upright/rgb/points"/>
    <remap from="~colorimage_in" to="/$(arg camera_name)/rgb/image_raw"/>
    <remap from="~colorimage_out" to="/$(arg camera_name)_upright/rgb/image_raw"/>
  </node>

</launch>
