<?xml version="1.0" ?>
<launch>

	<arg name="dev" default="/dev/input/js0"/>
	<arg name="deadzone" default="0.12"/>

	<!-- run joystick -->
	<node pkg="joy" type="joy_node" name="$(anon joy_node)">
		<rosparam param="dev" subst_value="True">$(arg dev)</rosparam>
		<rosparam param="deadzone" subst_value="True">$(arg deadzone)</rosparam>
	</node>

</launch>
