<?xml version="1.0"?>
<launch>

	<arg name="robot" default="$(optenv ROBOT !!NO_ROBOT_SET!!)"/>
	<arg name="pkg_hardware_config" default="$(find cob_hardware_config)"/>
	<arg name="name"/>

	<!-- load parameter -->
	<rosparam ns="laser_$(arg name)" command="load" file="$(arg pkg_hardware_config)/$(arg robot)/config/laser_$(arg name).yaml"/>

	<!-- start laser driver -->
	<node ns="laser_$(arg name)" pkg="cob_sick_lms1xx" type="lms100" name="laser_$(arg name)" respawn="false" output="screen" >
		<remap from="scan" to="/scan_$(arg name)_raw"/>
	</node>

	<!-- laser filter -->
	<include file="$(find cob_bringup)/drivers/laser_scan_filter.launch">
		<arg name="robot" value="$(arg robot)"/>
		<arg name="pkg_hardware_config" value="$(arg pkg_hardware_config)"/>
		<arg name="name" value="$(arg name)"/>
	</include>

</launch>
