<?xml version="1.0"?>
<launch>

	<arg name="robot"/>
	<arg name="pkg_hardware_config" default="$(find cob_hardware_config)"/>
	<arg name="name"/>

	<!-- angular bounds filter-->
	<rosparam ns="$(arg name)" command="load" file="$(arg pkg_hardware_config)/robots/$(arg robot)/config/$(arg name).yaml"/>
	<node ns="$(arg name)" pkg="cob_sick_s300" type="cob_scan_filter" name="scan_filter" respawn="false" output="screen">
		<remap from="scan_in" to="scan_raw"/>
		<remap from="scan_out" to="scan"/>
	</node>

</launch>
