<?xml version="1.0"?>
<launch>

	<arg name="name"/>
	<arg name="scan_intervals"/>

	<!-- scan filters-->
	<rosparam ns="$(arg name)" param="scan_intervals" subst_value="True">$(arg scan_intervals)</rosparam>
	<node ns="$(arg name)" pkg="cob_sick_s300" type="cob_scan_filter" name="scan_filter" respawn="false" output="screen">
		<remap from="scan_in" to="scan_raw"/>
		<remap from="scan_out" to="scan"/>
	</node>

</launch>
