<?xml version="1.0"?>
<!--
Runs a Prosilica camera in streaming mode.

Change the ip_address to match your camera.
For help configuring your camera or determining its IP address, see
http://www.ros.org/wiki/prosilica_camera/Tutorials.
-->

<launch>

  <arg name="robot" default="$(optenv ROBOT !!NO_ROBOT_SET!!)"/>
  <arg name="name"/>
  <arg name="pkg_hardware_config" default="$(find cob_hardware_config)"/>

  <!-- The camera node -->
  <node ns="stereo/$(arg name)" name="color_camera" pkg="prosilica_camera" type="prosilica_node" output="screen">
    <rosparam command="load" file="$(arg pkg_hardware_config)/$(arg robot)/config/cameras/parameters_$(arg name).yaml"/>
	
	<remap from="camera/image_raw" to="image_raw"/>
	<remap from="camera/camera_info" to="camera_info"/>
  </node>

  <node ns="stereo/$(arg name)" name="set_camera_info" pkg="cob_camera_sensors" type="set_camera_info.py" output="screen">
    <rosparam command="load" file="$(find cob_calibration_data)/$(arg robot)/calibration/cameras/$(arg name).yaml"/>
  </node>
 
  <node ns="stereo/$(arg name)" pkg="image_proc" type="image_proc" respawn="false" name="prosilica_image_proc" />

</launch>
