<?xml version="1.0"?>
<launch>

	<arg name="input_scans"/>
	<arg name="frame" default="base_link"/>

	<!-- run scan unifier -->
	<node pkg="cob_scan_unifier" type="scan_unifier_node" name="scan_unifier" output="log">
		<rosparam param="input_scans" subst_value="True">$(arg input_scans)</rosparam>
		<rosparam param="frame" subst_value="True">$(arg frame)</rosparam>
		<remap from="scan_unified" to="/scan_unified"/>
	</node>

</launch>
