<?xml version="1.0"?>
<launch>

  <arg name="port" default="/dev/rfcomm0"/>
  <arg name="baud" default="57600"/>
  <arg name="component_name" default="gripper"/>
  <arg name="check" default="true"/>
  <remap from="/$(arg component_name)/internal/recover" to="/$(arg component_name)/driver/recover"/>
  <remap from="/$(arg component_name)/internal/halt" to="/$(arg component_name)/driver/halt"/>

  <group ns="/$(arg component_name)">

    <group ns="internal">
      <node pkg="rosserial_server" type="serial_node" name="rosserial_server">
        <param name="port" value="$(arg port)"/>
        <param name="baud" value="$(arg baud)"/>
        <rosparam if="$(arg check)">
         require:
            publishers: [ status ]
            subscribers: [ command, set_pin, clear_pin ]
            service_servers: [ init_finger, halt, init_pins, update_pins, set_pwm, recover ]
        </rosparam>
      </node>

      <node pkg="rosserial_python" type="message_info_service.py" name="rosserial_message_info"/>
    </group>

    <node pkg="cob_hand_bridge" type="cob_hand_bridge_node" name="cob_hand_bridge">
      <rosparam param="sdhx/joint_names" subst_value="True">[$(arg component_name)_finger_1_joint, $(arg component_name)_finger_2_joint]</rosparam>
    </node>
  </group>

</launch>
