<?xml version="1.0"?>
<launch>

	<arg name="robot" default="$(optenv ROBOT !!NO_ROBOT_SET!!)"/>
	<arg name="pkg_hardware_config" default="$(find cob_hardware_config)"/>

	<node ns="gripper" pkg="schunk_sdh" type="sdh_only" name="sdh_controller" cwd="node" respawn="true" output="screen" >
		<rosparam command="load" file="$(arg pkg_hardware_config)/$(arg robot)/config/gripper_driver.yaml"/>
		<remap from="diagnostics" to="/diagnostics"/>
	</node>

</launch>
