<?xml version="1.0"?>
<launch>

	<arg name="robot" default="$(optenv ROBOT !!NO_ROBOT_SET!!)"/>
	<arg name="pkg_hardware_config" default="$(find cob_hardware_config)"/>

        <node name="safety_controller" pkg="cob_safety_controller" type="safety_controller" respawn="false" output="screen" >
        </node>

		<rosparam command="load" file="$(arg pkg_hardware_config)/$(arg robot)/config/flexisoft.yaml"/>

</launch>
