<?xml version="1.0"?>
<launch>

	<arg name="pkg_hardware_config" default="$(find cob_hardware_config)"/>
	<arg name="name"/>
	<arg name="host"/>
	<arg name="inverted"/>
	<arg name="frame_id" default="$(arg name)_link"/>
	<arg name="scan_intervals"/>
	<arg name="sim" default="false"/>

	<!-- load parameter -->
	<group ns="$(arg name)">
		<rosparam command="load" file="$(arg pkg_hardware_config)/components/sick_lms1xx/sick_lms1xx.yaml"/>
		<rosparam param="host" subst_value="True">$(arg host)</rosparam>
		<rosparam param="inverted" subst_value="True">$(arg inverted)</rosparam>
		<rosparam param="frame_id" subst_value="True">$(arg frame_id)</rosparam>

		<!-- start laser driver -->
		<node unless="$(arg sim)" pkg="cob_sick_lms1xx" type="lms100" name="driver" respawn="false" output="screen">
			<remap from="scan" to="scan_raw"/>
		</node>
	</group>

	<!-- laser filter -->
	<include file="$(find cob_bringup)/drivers/laser_scan_filter.launch">
		<arg name="name" value="$(arg name)"/>
		<arg name="scan_intervals" value="$(arg scan_intervals)"/>
	</include>

</launch>
