<?xml version="1.0"?>
<launch>

	<arg name="robot" default="$(optenv ROBOT !!NO_ROBOT_SET!!)"/>
	<arg name="pkg_hardware_config" default="$(find cob_hardware_config)"/>
	<arg name="sim" default="false"/>

	<node unless="$(arg sim)" ns="safety_controller" pkg="cob_safety_controller" type="safety_controller" name="safety_controller" respawn="false" output="screen">
		<rosparam command="load" file="$(arg pkg_hardware_config)/robots/$(arg robot)/config/flexisoft.yaml"/>
		<param name="front_xml" value="$(arg pkg_hardware_config)/robots/$(arg robot)/config/base_laser_front.xml"/>
		<param name="left_xml" value="$(arg pkg_hardware_config)/robots/$(arg robot)/config/base_laser_left.xml"/>
		<param name="right_xml" value="$(arg pkg_hardware_config)/robots/$(arg robot)/config/base_laser_right.xml"/>
		<remap from="emergency_stop_state" to="/emergency_stop_state"/>
		<remap from="odometry" to="/base/odometry_controller/odometry"/>
		<remap from="diagnostics" to="/diagnostics"/>
	</node>

	<!-- FIXME remove flexisoft_sim with a cob_safety_controller_sim which makes use of simulated safety fields from laser -->
	<node if="$(arg sim)" pkg="cob_safety_controller" type="flexisoft_sim.py" name="safety_controller" respawn="false" output="screen"/>

</launch>
