<?xml version="1.0"?>

<launch>
  <arg name="robot" default="$(optenv ROBOT !!NO_ROBOT_SET!!)"/>
  <arg name="camera_name" default="usb_cam"/>
  
  <node name="$(arg camera_name)" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/video0" />
    <param name="image_width" value="2048" />
    <param name="image_height" value="1536" />

    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="$(arg camera_name)_link" />
    <param name="framerate" value="5"/>
    <param name="camera_name" value="$(arg camera_name)"/>
    <param name="camera_info_url" value="package://cob_calibration_data/$(arg robot)/calibration/$(arg camera_name).yaml"/>
  </node>
  <node name="image_proc" pkg="image_proc" type="image_proc" ns="$(arg camera_name)"/>
</launch>
