<?xml version="1.0"?>
<launch>

	<arg name="robot" default="$(optenv ROBOT !!NO_ROBOT_SET!!)"/>
	<arg name="pkg_hardware_config" default="$(find cob_hardware_config)"/>
	<arg name="camera_name" default="usb_cam"/>

	<node name="$(arg camera_name)" pkg="usb_cam" type="usb_cam_node" output="screen">
		<param name="camera_name" value="$(arg camera_name)"/>
		<param name="camera_frame_id" value="$(arg camera_name)_optical_frame"/>
		<param name="camera_info_url" value="package://cob_calibration_data/$(arg robot)/calibration/cameras/$(arg camera_name).yaml"/>
		<rosparam command="load" file="$(arg pkg_hardware_config)/robots/$(arg robot)/config/$(arg camera_name).yaml"/>
	</node>

</launch>
