<?xml version="1.0"?>
<launch>

	<!-- send ROBOT parameters to parameter server -->
	<rosparam command="load" ns="/script_server/arm" file="$(find cob_default_robot_config)/raw3-1/arm_joint_configurations.yaml"/>
	<rosparam command="load" ns="/script_server/torso" file="$(find cob_default_robot_config)/raw3-1/torso_joint_configurations.yaml"/>
	<rosparam command="load" ns="/script_server/light" file="$(find cob_default_robot_config)/raw3-1/light_configurations.yaml"/>

</launch>
