<?xml version="1.0"?>
<launch>

	<!-- send ROBOT parameters to parameter server -->
	<rosparam command="load" ns="/script_server/base" file="$(find cob_default_robot_config)/cob4-7/base_configurations.yaml"/>
	<rosparam command="load" ns="/script_server/torso" file="$(find cob_default_robot_config)/cob4-7/torso_joint_configurations.yaml"/>
	<rosparam command="load" ns="/script_server/light_torso" file="$(find cob_default_robot_config)/cob4-7/light_torso_configurations.yaml"/>
	<rosparam command="load" ns="/script_server/behavior" file="$(find cob_default_robot_config)/cob4-7/behavior.yaml"/>
	<rosparam command="load" ns="/script_server/sound" file="$(find cob_default_robot_config)/cob4-7/sound.yaml"/>

</launch>
