<?xml version="1.0" ?>
<robot>
	<!-- ***************** -->
	<!-- base calibration -->
	<!-- ***************** -->
	<!-- laser front mount positions | relative to base_link -->
	<property name="def_laser_front_x" value="0.325"/>
	<property name="def_laser_front_y" value="0.0"/>
	<property name="def_laser_front_z" value="0.135"/>
	<property name="def_laser_front_roll" value="0"/>
	<property name="def_laser_front_pitch" value="0"/>
	<property name="def_laser_front_yaw" value="0"/>

	<!-- laser rear mount positions | relative to base_link -->
	<property name="def_laser_rear_x" value="-0.325"/>
	<property name="def_laser_rear_y" value="0.0"/>
	<property name="def_laser_rear_z" value="0.135"/>
	<property name="def_laser_rear_roll" value="0"/>
	<property name="def_laser_rear_pitch" value="0"/>
	<property name="def_laser_rear_yaw" value="3.1415926"/>

	<!-- laser top mount positions | relative to base_link -->
	<property name="def_laser_top_x" value="-0.252"/>
	<property name="def_laser_top_y" value="0.0"/>
	<property name="def_laser_top_z" value="0.42"/>
	<property name="def_laser_top_roll" value="0"/>
	<property name="def_laser_top_pitch" value="0"/>
	<property name="def_laser_top_yaw" value="0"/>

	<!-- *********************** -->
	<!-- upper robot calibration -->
	<!-- *********************** -->
	<!-- tray mount positions | relative to base_link -->
	<property name="def_tray_x" value="0.2406"/>
	<property name="def_tray_y" value="0.1900"/>
	<property name="def_tray_z" value="0.7320"/>
	<property name="def_tray_roll" value="2.3561"/>
	<property name="def_tray_pitch" value="0"/>
	<property name="def_tray_yaw" value="0"/>

	<!-- torso mount positions | relative to base_link -->
	<property name="def_torso_x" value="0.1535525935"/>
	<property name="def_torso_y" value="0.0"/>
	<property name="def_torso_z" value="0.8743916288"/>
	<property name="def_torso_roll" value="1.5968312791"/>
	<property name="def_torso_pitch" value="-0.0587251265"/>
	<property name="def_torso_yaw" value="0.0660275925"/>

	<!-- head mount positions | relative to head_cover_link -->
	<property name="def_head_x" value="0.0"/>
	<property name="def_head_y" value="0.173"/>
	<property name="def_head_z" value="0.0"/>
	<property name="def_head_roll" value="0.0"/>
	<property name="def_head_pitch" value="0.0"/>
	<property name="def_head_yaw" value="0.0"/>

	<!-- ur_connector mount positions | relative to base_link --> 
	<property name="def_ur_connector_x" value="0"/>
	<property name="def_ur_connector_y" value="0"/>
	<property name="def_ur_connector_z" value="0.775"/>
	<property name="def_ur_connector_roll" value="0"/>
	<property name="def_ur_connector_pitch" value="0"/>
	<property name="def_ur_connector_yaw" value="0"/>

	<!-- arm mount positions | relative to ur_connector_link --> 
	<property name="def_arm_x" value="0.1712"/>
	<property name="def_arm_y" value="-0.1776"/>
	<property name="def_arm_z" value="0.0551"/>
	<property name="def_arm_roll" value="-0.5236"/>
	<property name="def_arm_pitch" value="0"/>
	<property name="def_arm_yaw" value="-1.5708"/>
	
	<!-- sdh mount positions | relative to arm_7_link -->
	<property name="def_sdh_x" value="0.0"/>
	<property name="def_sdh_y" value="0.0"/>
	<property name="def_sdh_z" value="0.0"/>
	<property name="def_sdh_roll" value="0.0"/>
	<property name="def_sdh_pitch" value="3.1415926"/>
	<property name="def_sdh_yaw" value="0.0"/>

	<!-- *********************************** -->
	<!-- kinematic chain reference positions -->
	<!-- *********************************** -->
    <!-- torso chain calibration_offest! | relative to reference position (see below)-->
    <!-- not used right now
	<property name="def_torso_lower_neck_tilt_cal_offset" value="0.0"/>
	<property name="def_torso_pan_cal_offset" value="0.0"/>
	<property name="def_torso_upper_neck_tilt_cal_offset" value="0.0"/>
	-->
	<property name="def_torso_lower_neck_tilt_ref" value="-0.299259484"/>
	<property name="def_torso_pan_ref" value="0.03021506"/>
	<property name="def_torso_upper_neck_tilt_ref" value="0.207151622"/>

	<!-- tray reference position | used as calibration_rising for tray chain -->
	<property name="def_tray_ref" value="0.0"/>

	<!-- head camera axis reference position | used as calibration_rising for head axis chain -->
	<property name="def_head_axis_ref" value="0.0"/>

	<!-- arm reference positions | used as calibration_rising for arm chain-->
    <property name="def_arm_1_ref" value="0.0"/>
	<property name="def_arm_2_ref" value="0.0"/>
	<property name="def_arm_3_ref" value="0.0"/>
	<property name="def_arm_4_ref" value="0.0"/>
	<property name="def_arm_5_ref" value="0.0"/>
	<property name="def_arm_6_ref" value="0.0"/>
	<property name="def_arm_7_ref" value="0.0"/>

	<!-- ***************************** -->
	<!-- camera calibration properties -->
	<!-- ***************************** -->
	<!-- left | handeye calibration | relative to head_axis_link -->
	<property name="def_cam_reference_x" value="-0.05"/>
	<property name="def_cam_reference_y" value="-0.02"/>
	<property name="def_cam_reference_z" value="-0.07"/>
	<property name="def_cam_reference_roll" value="0.0"/>
	<property name="def_cam_reference_pitch" value="-1.5563904314"/>
	<property name="def_cam_reference_yaw" value="0.0"/>
	
	<!-- left | handeye calibration | relative to cam_reference_link -->
	<property name="def_cam_l_x" value="0.0"/>
	<property name="def_cam_l_y" value="0.0"/>
	<property name="def_cam_l_z" value="0.0"/>
	<property name="def_cam_l_roll" value="0.0"/>
	<property name="def_cam_l_pitch" value="0.0"/>
	<property name="def_cam_l_yaw" value="0.0"/>

	<!-- right | stereo baseline calibration | relative to cam_reference_link -->
	<property name="def_cam_r_x" value="0.12"/>
	<property name="def_cam_r_y" value="0.0"/>
	<property name="def_cam_r_z" value="0.0"/>
	<property name="def_cam_r_roll" value="0.0"/>
	<property name="def_cam_r_pitch" value="0.0"/>
	<property name="def_cam_r_yaw" value="0.0"/>

	<!-- cam3d | handeye calibration | relative to cam_reference_link -->
	<property name="def_cam3d_x" value="0.06"/>
	<property name="def_cam3d_y" value="-0.03"/>
	<property name="def_cam3d_z" value="0.0"/>
	<property name="def_cam3d_roll" value="0.0"/>
	<property name="def_cam3d_pitch" value="0.0"/>
	<property name="def_cam3d_yaw" value="0.0"/>
</robot>
