<?xml version="1.0"?>
<launch>

	<!-- controller_manager -->
	<include file="$(find cob_controller_configuration_gazebo)/ros/launch/controller_manager.launch" />

	<!-- Base -->
	<include file="$(find cob_controller_configuration_gazebo)/ros/launch/base_controller_raw.launch"/>
	<include file="$(find cob_bringup)/components/relayboard_sim.launch"/>

	<!-- start additional components -->
	<include file="$(find cob_sound)/ros/launch/sound.launch" />
	<include file="$(find cob_bringup)/tools/base_collision_observer.launch" />

</launch>
