<?xml version="1.0"?>
<launch>

	<!-- load cob controllers -->
	<include file="$(find cob_controller_configuration_gazebo)/ros/launch/default_controllers_cob.launch" >
		<arg name="robot" value="cob3-2"/>
	</include>

	<!-- Torso -->
	<include file="$(find cob_controller_configuration_gazebo)/ros/launch/torso_v0_controller.launch"/>

</launch>
