<?xml version="1.0"?>
<launch>

    <rosparam file="$(find prace_gripper_gazebo)/controller/prace_gripper_left_controller.yaml" command="load"/>
    <rosparam file="$(find prace_gripper_gazebo)/controller/prace_gripper_right_controller.yaml" command="load"/>

    <node name="gripper_left_controller_spawner" pkg="cob_controller_configuration_gazebo" type="spawner" args="gripper_left_controller" />
    <node name="gripper_right_controller_spawner" pkg="cob_controller_configuration_gazebo" type="spawner" args="gripper_right_controller" />

    <group ns="gripper_left_controller">
        <node name="gripper_joint_trajectory_action_node" pkg="joint_trajectory_action" type="joint_trajectory_action" />
    </group>

    <group ns="gripper_right_controller">
        <node name="gripper_joint_trajectory_action_node" pkg="joint_trajectory_action" type="joint_trajectory_action" />
    </group>

</launch>

