<?xml version="1.0"?>
<launch>

	<rosparam file="$(find cob_controller_configuration_gazebo)/ros/controller/tray_powerball_controller.yaml" command="load" />

	<node name="tray_controller_spawner" pkg="cob_controller_configuration_gazebo" type="spawner" args="tray_controller" />

	<group ns="tray_controller">
		<node name="tray_joint_trajectory_action_node" pkg="joint_trajectory_action" type="joint_trajectory_action" />
	</group>

	<!-- start simulated phidget sensors -->
	<node ns="tray_sensors" name="tray_sensors" pkg="cob_phidgets" type="simulated_range_sensors.py" output="screen"/>

</launch>
