<?xml version="1.0" ?><robot>
	<!-- ***************** -->
	<!-- robot calibration -->
	<!-- ***************** -->
	<!-- torso mount positions | relative to base_link -->
	<property name="torso_x" value="0.1480178603"/>
	<property name="torso_y" value="-0.0310067514"/>
	<property name="torso_z" value="0.8737439863"/>
	<property name="torso_roll" value="1.5643696362"/>
	<property name="torso_pitch" value="0.0086500587"/>
	<property name="torso_yaw" value="0.0567617324"/>

	<!-- arm mount positions | relative to base_link -->
	<property name="arm_x" value="-0.015586288"/>
	<property name="arm_y" value="-0.0815770011"/>
	<property name="arm_z" value="0.8759994888"/>
	<property name="arm_roll" value="0.788374894"/>
	<property name="arm_pitch" value="0.001687836"/>
	<property name="arm_yaw" value="-0.2631029869"/>

	<!-- *********************************** -->
	<!-- kinematic chain reference positions -->
	<!-- *********************************** -->
	<!-- torso chain calibration_offest! | relative to reference position (see below)-->
	<!-- not used right now
	<property name="torso_lower_neck_tilt_cal_offset" value="0.0"/>
	<property name="torso_pan_cal_offset" value="0.0"/>
	<property name="torso_upper_neck_tilt_cal_offset" value="0.0"/>
	-->

	<!-- torso reference positions | used as calibration_rising for torso chain -->
	<!-- ! set these values to make torso straight with (0, 0, 0) joint angles ! -->
	<property name="torso_lower_neck_tilt_ref" value="-0.2994"/>
	<property name="torso_pan_ref" value="-0.0146"/>
	<property name="torso_upper_neck_tilt_ref" value="5.8956"/>

	<!-- tray reference position | used as calibration_rising for tray chain -->
	<property name="torso_tray_ref" value="-0.2"/>

	<!-- head camera axis reference position | used as calibration_rising for head axis chain -->
	<property name="head_axis_ref" value="-0.1"/>

	<!-- arm reference positions | used as calibration_rising for arm chain-->
	<property name="arm_1_ref" value="0.0"/>
	<property name="arm_2_ref" value="0.0"/>
	<property name="arm_3_ref" value="0.0"/>
	<property name="arm_4_ref" value="0.0"/>
	<property name="arm_5_ref" value="0.0"/>
	<property name="arm_6_ref" value="0.0"/>
	<property name="arm_7_ref" value="0.0"/>

	<!-- ***************************** -->
	<!-- camera calibration properties -->
	<!-- ***************************** -->
	<!-- left | handeye calibration | relative to head_axis_link -->
	<property name="cam_l_x" value="-0.0258119756"/>
	<property name="cam_l_y" value="-0.0309783876"/>
	<property name="cam_l_z" value="-0.1131744259"/>
	<property name="cam_l_roll" value="2.7300093598"/>
	<property name="cam_l_pitch" value="-1.5306647319"/>
	<property name="cam_l_yaw" value="-2.7149269911"/>

	<!-- right | stereo baseline calibration | relative to left camera -->
	<property name="cam_r_x" value="0.121275001505"/>
	<property name="cam_r_y" value="0.00156529255244"/>
	<property name="cam_r_z" value="-0.00194055736761"/>
	<property name="cam_r_roll" value="0.00494623053968"/>
	<property name="cam_r_pitch" value="0.0180219198137"/>
	<property name="cam_r_yaw" value="0.0109704642674"/>

	<!-- cam3d | handeye calibration | relative to head_axis_link -->
	<property name="cam3d_x" value="-0.0444851295"/>
	<property name="cam3d_y" value="-0.0663745609"/>
	<property name="cam3d_z" value="-0.0344641764"/>
	<property name="cam3d_roll" value="0.0989790938"/>
	<property name="cam3d_pitch" value="-1.54292535"/>
	<property name="cam3d_yaw" value="-0.0379436627"/>
</robot>