<?xml version="1.0" ?><robot>
	<!-- ***************** -->
	<!-- robot calibration -->
	<!-- ***************** -->
	<!-- torso mount positions | relative to base_link -->
	<property name="torso_x" value="0.155"/>
	<property name="torso_y" value="0.0"/>
	<property name="torso_z" value="0.892"/>
	<property name="torso_roll" value="1.5708"/>
	<property name="torso_pitch" value="0.0"/>
	<property name="torso_yaw" value="0.0"/>

	<!-- arm mount positions | relative to base_link -->
	<property name="arm_x" value="-0.015982"/>
	<property name="arm_y" value="-0.080992"/>
	<property name="arm_z" value="0.875995"/>
	<property name="arm_roll" value="0.7854"/>
	<property name="arm_pitch" value="0.0"/>
	<property name="arm_yaw" value="-0.2618"/>

	<!-- *********************************** -->
	<!-- kinematic chain reference positions -->
	<!-- *********************************** -->
	<!-- torso chain calibration_offest! | relative to reference position (see below)-->
	<!-- not used right now -->
	<property name="torso_lower_neck_pan_ref" value="0" />
	<property name="torso_lower_neck_tilt_ref" value="0" />
	<property name="torso_upper_neck_pan_ref" value="0" />
	<property name="torso_upper_neck_tilt_ref" value="0" />

	<!-- tray reference position | used as calibration_rising for tray chain -->
	<property name="tray_ref" value="3.14"/>

	<!-- head camera axis reference position | used as calibration_rising for head axis chain -->
	<property name="head_axis_ref" value="-0.1"/>

	<!-- arm reference positions | used as calibration_rising for arm chain-->
	<property name="arm_1_ref" value="0.0"/>
	<property name="arm_2_ref" value="0.0"/>
	<property name="arm_3_ref" value="0.0"/>
	<property name="arm_4_ref" value="0.0"/>
	<property name="arm_5_ref" value="0.0"/>
	<property name="arm_6_ref" value="0.0"/>
	<property name="arm_7_ref" value="0.0"/>

	<!-- ***************************** -->
	<!-- camera calibration properties -->
	<!-- ***************************** -->
	<!-- left | handeye calibration | relative to head_axis_link -->
	<property name="cam_l_x" value="-0.035"/>
	<property name="cam_l_y" value="-0.0065"/>
	<property name="cam_l_z" value="-0.06"/>
	<property name="cam_l_roll" value="0.0"/>
	<property name="cam_l_pitch" value="-1.5708"/>
	<property name="cam_l_yaw" value="0.0"/>

	<!-- right | stereo baseline calibration | relative to left camera -->
	<property name="cam_r_x" value="0.12"/>
	<property name="cam_r_y" value="0.0"/>
	<property name="cam_r_z" value="0.0"/>
	<property name="cam_r_roll" value="0.0"/>
	<property name="cam_r_pitch" value="0.0"/>
	<property name="cam_r_yaw" value="0.0"/>

	<!-- cam3d | handeye calibration | relative to head_axis_link -->
	<property name="cam3d_x" value="-0.05"/>
	<property name="cam3d_y" value="-0.04"/>
	<property name="cam3d_z" value="-0.01"/>
	<property name="cam3d_roll" value="0.0"/>
	<property name="cam3d_pitch" value="-1.5708"/>
	<property name="cam3d_yaw" value="0.0"/>
</robot>
