<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="raw-mini">

  <!-- common stuff -->
  <xacro:include filename="$(find cob_description)/urdf/common.xacro" />
  <xacro:include filename="$(find cob_description)/urdf/materials.urdf.xacro" />

  <xacro:include filename="$(find cob_hardware_config)/robots/raw-mini/urdf/properties.urdf.xacro" />
  <!-- raw base -->
  <xacro:include filename="$(find raw_description)/urdf/base_mini/base.urdf.xacro" />

  <!-- sensors -->
  <xacro:include filename="$(find cob_description)/urdf/sensors/rplidar.urdf.xacro"/>

  <!-- composition of the robot -->
  <xacro:raw_mini_base name="base"/>
  <!-- base laser front -->
  <xacro:rplidar name="laser" parent="base">
    <origin xyz="${laser_front_x} ${laser_front_y} ${laser_front_z}" rpy="${laser_front_roll} ${laser_front_pitch} ${laser_front_yaw}" />
  </xacro:rplidar>

</robot>
