<?xml version="1.0"?>
<launch>

	<arg name="robot" default="$(optenv ROBOT !!NO_ROBOT_SET!!)"/>
	<arg name="robot_env" default="$(optenv ROBOT_ENV !!NO_ROBOT_ENV_SET!!)"/>
	<arg name="pkg_robot_config" default="$(find cob_default_robot_config)"/>
	<arg name="pkg_env_config" default="$(find cob_default_env_config)"/>

	<!-- start dashboard -->
	<node pkg="cob_dashboard" type="cob_dashboard" name="$(anon dashboard_node)" cwd="node" respawn="false" output="screen" />
	
	<!-- start command_gui -->
	<node ns="command_gui" pkg="cob_command_gui" type="knoeppkes.py" name="$(anon command_gui_node)" cwd="node" respawn="false" output="screen" >
		<!-- upload button parameters -->
		<rosparam command="load" ns="control_buttons" file="$(arg pkg_robot_config)/$(arg robot)/command_gui_buttons.yaml"/>
		<rosparam command="load" ns="nav_buttons" file="$(arg pkg_env_config)/$(arg robot_env)/command_gui_buttons.yaml"/>
	</node>

</launch>
