<?xml version="1.0"?>
<launch>

	<arg name="robot" default="$(optenv ROBOT !!NO_ROBOT_SET!!)"/>
	<arg name="pkg_hardware_config" default="$(find cob_hardware_config)"/>
	<arg name="robot_id" default="/"/>

	<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen" >
		<param name="tf_prefix" type="str" value="$(arg robot_id)" />
	</node>

	<node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" output="screen" >
		<rosparam command="load" file="$(arg pkg_hardware_config)/$(arg robot)/config/joint_state_publisher.yaml"/>
	</node>

</launch>
