<?xml version="1.0"?>
<launch>
<arg name="robot" default="$(optenv ROBOT !!NO_ROBOT_SET!!)"/>

<node pkg="nodelet" type="nodelet" name="cam3d_throttle"  args="standalone cob_camera_sensors/Cam3DThrottle" output="screen">
	<remap from="cloud_in" to="/cam3d/rgb/points"/>
	<remap from="cloud_out" to="/cam3d/rgb/points_throttled"/>
	<param name="max_rate" value="5.0"/>
</node>
</launch>

