<?xml version="1.0"?>
<launch>

	<arg name="namespace"/>
	<arg name="rate"/>

	<node pkg="nodelet" type="nodelet" name="$(anon cam3d_throttler)"  args="standalone cob_camera_sensors/Cam3DThrottle" output="screen">
		<remap from="rgb_cloud_in" to="$(arg namespace)/rgb/points"/>
		<remap from="rgb_image_in" to="$(arg namespace)/rgb/image_raw"/>
		<remap from="rgb_caminfo_in" to="$(arg namespace)/rgb/camera_info"/>
		<remap from="depth_image_in" to="$(arg namespace)/depth/image_raw"/>
		<remap from="cloud_in" to="$(arg namespace)/depth/points"/>
		<remap from="rgb_cloud_out" to="$(arg namespace)/rgb/points_throttled"/>
		<remap from="rgb_image_out" to="$(arg namespace)/rgb/image_raw_throttled"/>
		<remap from="rgb_caminfo_out" to="$(arg namespace)/rgb/camera_info_throttled"/>
		<remap from="depth_image_out" to="$(arg namespace)/depth/image_raw_throttled"/>
		<remap from="cloud_out" to="$(arg namespace)/depth/points_throttled"/>
		<param name="max_rate" value="$(arg rate)"/>
	</node>
</launch>
