<?xml version="1.0"?>

<launch>

	<arg name="robot" default="$(optenv ROBOT !!NO_ROBOT_SET!!)"/>
	<arg name="pkg_hardware_config" default="$(find cob_hardware_config)"/>

	<!-- parameters for CANopen node -->
	<rosparam command="load" ns="canopen" file="$(arg pkg_hardware_config)/$(arg robot)/config/canopenmaster.yaml" />
        
	<rosparam command="load" ns="tray_controller" file="$(arg pkg_hardware_config)/$(arg robot)/config/tray.yaml" />
	<rosparam command="load" ns="torso_controller" file="$(arg pkg_hardware_config)/$(arg robot)/config/torso.yaml" />
	<rosparam command="load" ns="ur_conector_controller" file="$(arg pkg_hardware_config)/$(arg robot)/config/ur_conector.yaml" />

	<!-- This is the CANopen ROS wrapper node -->
	<node ns="canopen" name="canopen_ros" pkg="ipa_canopen_ros" type="canopen_ros" cwd="node" respawn="false" output="screen" /> 


</launch>
