<?xml version="1.0"?>
<launch>
	<arg name="robot"/>

	<arg name="can_device" default="can0"/>
	<arg name="pkg_hardware_config" default="$(find cob_hardware_config)"/>
	<arg name="sim" default="false"/>

	<arg name="driver_yaml" default="$(arg pkg_hardware_config)/robots/cob4/config/cob4_base_driver.yaml"/>
	<arg name="controller_yaml" default="$(arg pkg_hardware_config)/robots/cob4/config/cob4_base_controller.yaml"/>

	<include file="$(find cob_bringup)/components/ros_control_base.launch">
		<arg name="robot" value="$(arg robot)"/>
		<arg name="pkg_hardware_config" value="$(arg pkg_hardware_config)"/>
		<arg name="driver_yaml" value="$(arg driver_yaml)"/>
		<arg name="controller_yaml" value="$(arg controller_yaml)"/>

		<arg name="can_device" value="$(arg can_device)"/>

		<arg name="sim" value="$(arg sim)"/>
	</include>
</launch>
