<?xml version="1.0"?>
<launch>

	<arg name="pkg_hardware_config" default="$(find cob_hardware_config)"/>

	<node name="head_controller" pkg="cob_head_axis" type="cob_head_axis_node" cwd="node" respawn="false" output="screen" >
		<param name="CanIniFile" value="$(arg pkg_hardware_config)/$(env ROBOT)/config/head.ini" />
		<rosparam command="load" file="$(arg pkg_hardware_config)/$(env ROBOT)/config/head.yaml"/>
	</node>

</launch>
