<?xml version="1.0" ?>
<launch>

	<arg name="robot" default="$(optenv ROBOT !!NO_ROBOT_SET!!)"/>
	<arg name="pkg_hardware_config" default="$(find cob_hardware_config)"/>

	<!-- run joystick -->
	<node pkg="joy" type="joy_node" name="$(anon joy_node)">
		<rosparam command="load" file="$(arg pkg_hardware_config)/$(arg robot)/config/joy.yaml"/>
	</node>

</launch>
