<?xml version="1.0"?>
<launch>

	<arg name="robot" default="$(optenv ROBOT !!NO_ROBOT_SET!!)"/>
	<arg name="pkg_hardware_config" default="$(find cob_hardware_config)"/>

	<!-- start laser driver -->
	<node name="laser_rear" pkg="LMS1xx" type="LMS100" respawn="false" output="screen" >
		<rosparam command="load" file="$(arg pkg_hardware_config)/$(arg robot)/config/laser_rear.yaml"/>
		<remap from="laser_rear/scan" to="/scan_rear_raw"/>
	</node>
	
	<!-- laser filter -->
	<node name="laser_rear_filter" pkg="cob_sick_s300" type="cob_scan_filter" respawn="false" output="screen" ns="laser_rear">
		<remap from="/laser_rear/scan" to="/scan_rear_raw"/>
		<remap from="/laser_rear/scan_filtered" to="/scan_rear"/>
	</node>

</launch>
