<?xml version="1.0"?>
<launch>

	<arg name="robot" default="$(optenv ROBOT !!NO_ROBOT_SET!!)"/>
	<arg name="pkg_hardware_config" default="$(find cob_hardware_config)"/>

	<node ns="arm_controller" name="arm_controller_service_interface" pkg="cob_lbr" type="service_interface.py" respawn="false" output="screen" />

	<node name="arm_controller" pkg="cob_lbr" type="cob_lbr" args="Mock $(find cob_lbr)/common/files/config.xml" cwd="node" respawn="false" output="screen" >
		<rosparam command="load" file="$(arg pkg_hardware_config)/$(arg robot)/config/lbr.yaml"/>	
	</node>

	<node ns="arm_controller" name="joint_trajectory_controller" pkg="cob_trajectory_controller" type="cob_trajectory_controller" cwd="node" respawn="false" output="screen" />

</launch>
