<?xml version="1.0"?>
<launch>

	<arg name="pkg_hardware_config" default="$(find cob_hardware_config)"/>

	<node name="arm_controller" pkg="cob_lbr" type="cob_lbr" args="Mock $(find cob_lbr)/common/files/config.xml" cwd="node" respawn="false" output="screen" >
		<rosparam command="load" file="$(arg pkg_hardware_config)/$(env ROBOT)/config/lbr.yaml"/>	
	</node>

	<node ns="arm_controller" name="joint_trajectory_controller" pkg="cob_trajectory_controller" type="cob_trajectory_controller" cwd="node" respawn="false" output="screen" />

</launch>
