<?xml version="1.0"?>
<launch>
	<arg name="robot"/>
	<arg name="pkg_hardware_config" default="$(find cob_hardware_config)"/>
	<arg name="sim" default="false"/>

	<group unless="$(arg sim)">
		<include file="$(find cob_bringup)/drivers/base_driver.launch">
			<arg name="robot" value="$(arg robot)"/>
		</include>
		<include file="$(find cob_bringup)/controllers/base_controller.launch">
			<arg name="robot" value="$(arg robot)"/>
		</include>
	</group>
	<group if="$(arg sim)">
		<include file="$(find cob_bringup)/controllers/base_controller_plugin.launch">
			<arg name="robot" value="$(arg robot)"/>
		</include>
		<node ns="base" pkg="cob_helper_tools" type="fake_driver.py" name="fake_driver" cwd="node" respawn="false" output="screen"/>
	</group>

	<group ns="base">
		<!-- twist mux -->
		<include file="$(find cob_bringup)/tools/twist_mux.launch">
			<arg name="robot" value="$(arg robot)"/>
			<arg name="cmd_vel_out" default="velocity_smoother/command"/>
			<arg name="marker_out" default="twist_mux/marker"/>
		</include>

		<!-- velocity smoother -->
		<include file="$(find cob_bringup)/tools/velocity_smoother.launch">
			<arg name="robot" value="$(arg robot)"/>
			<arg name="config_file"           default="$(arg pkg_hardware_config)/robots/$(arg robot)/config/velocity_smoother.yaml"/>
			<arg name="raw_cmd_vel_topic"     default="velocity_smoother/command"/>
			<arg name="smooth_cmd_vel_topic"  default="twist_controller/command"/>
			<arg name="robot_cmd_vel_topic"   default="twist_controller/command"/>
			<arg name="odom_topic"            default="odometry_controller/odometry"/>
		</include>
	</group>
</launch>
