<?xml version="1.0"?>
<launch>
	<arg name="robot"/>
	<arg name="component_name"/>
	<arg name="sim" default="false"/>

	<group unless="$(arg sim)">
		<include file="$(find cob_bringup)/drivers/schunk_powercube_chain_driver.launch">
			<arg name="robot" value="$(arg robot)"/>
			<arg name="component_name" value="$(arg component_name)"/>
		</include>
		<include file="$(find cob_bringup)/controllers/cob_trajectory_controller.launch">
			<arg name="robot" value="$(arg robot)"/>
			<arg name="component_name" value="$(arg component_name)"/>
		</include>
	</group>

	<group if="$(arg sim)">
		<include file="$(find cob_bringup)/controllers/generic_controller.launch">
			<arg name="robot" value="$(arg robot)"/>
			<arg name="component_name" value="$(arg component_name)"/>
		</include>
		<node ns="$(arg component_name)" pkg="cob_helper_tools" type="fake_driver.py" name="fake_driver" cwd="node" respawn="false" output="screen"/>
	</group>
</launch>
