<?xml version="1.0"?>
<launch>

	<arg name="robot" default="$(optenv ROBOT !!NO_ROBOT_SET!!)"/>
	<arg name="pkg_hardware_config" default="$(find cob_hardware_config)"/>
	<arg name="sim" default="false" />

	<!-- start simulated relayboard node -->
	<node if="$(arg sim)" pkg="cob_relayboard" type="relayboard_sim.py" ns="relayboard" name="relayboard_node" respawn="false" output="screen"/>

	<!-- start relayboard node -->
	<node unless="$(arg sim)" name="relayboard_controller" pkg="cob_relayboard" type="cob_relayboard_node" respawn="false" output="screen">
		<rosparam command="load" file="$(arg pkg_hardware_config)/$(arg robot)/config/relayboard.yaml"/>
	</node>

</launch>
