<?xml version="1.0"?>
<launch>

	<!-- start relayboard node -->
	<node name="relayboard_controller" pkg="cob_relayboard" type="cob_relayboard_node" respawn="false" output="screen">
		<rosparam command="load" file="$(find cob_hardware_config)/$(env ROBOT)/config/relayboard.yaml"/>
	</node>

</launch>
