<?xml version="1.0"?>
<launch>
	<arg name="robot"/>
	<arg name="component_name"/>
	<arg name="sim" default="false"/>

	<include unless="$(arg sim)" file="$(find cob_bringup)/drivers/schunk_sdhx.launch">
		<arg name="component_name" value="$(arg component_name)"/>
	</include>
	<include if="$(arg sim)" file="$(find cob_bringup)/controllers/generic_controller.launch">
		<arg name="robot" value="$(arg robot)"/>
		<arg name="component_name" value="$(arg component_name)"/>
	</include>
</launch>
