<?xml version="1.0"?>
<launch>
	<arg name="robot"/>
	<arg name="component_name"/>
	<arg name="sim" default="false"/>

	<!-- gripper driver is started remotely on raspberry directly -->
	<group if="$(arg sim)" >
		<include file="$(find cob_bringup)/controllers/generic_controller.launch">
			<arg name="robot" value="$(arg robot)"/>
			<arg name="component_name" value="$(arg component_name)"/>
		</include>
		<include file="$(find cob_bringup)/tools/fake_diagnostics.launch">
			<arg name="fake_diagnostics" value="'$(arg component_name)'"/>
		</include>
	</group>
</launch>
