<?xml version="1.0"?>
<launch>

 	<!-- universal robot arm -->
 	<node name="ur_driver" ns="arm_controller" pkg="ur_driver" type="driver.py" args="192.168.141.40" output="screen" >
		<remap from="/arm_controller/joint_states" to="/joint_states"/>
                <param name="prefix" value="arm_"/>
        </node>


  	<!-- TF Buffer Server -->
  	<node pkg="tf2_ros" type="buffer_server" name="tf2_buffer_server">
    		<param name="buffer_size" value="120.0"/>
  	</node>

</launch>
