<?xml version="1.0"?>

<launch>

	<arg name="robot" default="$(optenv ROBOT !!NO_ROBOT_SET!!)"/>
	<arg name="pkg_hardware_config" default="$(find cob_hardware_config)"/>

	<!-- parameters for CANopen node -->
	<rosparam command="load" ns="ur_connector_canopen" file="$(arg pkg_hardware_config)/$(arg robot)/config/ur_connector_canopenmaster.yaml" />

	<!-- parameter description of the CAN modules and for the corresponding trajectory controller -->
	<rosparam command="load" ns="ur_connector_controller" file="$(arg pkg_hardware_config)/$(arg robot)/config/ur_connector.yaml" />

	<!-- This is the CANopen ROS wrapper node -->
	<node ns="ur_connector_canopen" name="ur_connector_canopen_ros" pkg="ipa_canopen_ros" type="canopen_ros_elmo" cwd="node" respawn="false" output="screen" /> 

	<!-- The trajectory controller listens for JointTrajectoryFollowAction and sends velocity commands to the CANopen node -->
	<node ns="ur_connector_controller" name="joint_trajectory_controller" pkg="cob_trajectory_controller" type="cob_trajectory_controller" cwd="node" respawn="false" output="screen" />

</launch>
