<?xml version="1.0"?>
<launch>
	<arg name="robot" default="$(optenv ROBOT !!NO_ROBOT_SET!!)"/>
	<arg name="mode" default="update"/>

	<node name="voltage_filter" pkg="cob_voltage_control" type="savitzky_golay.py" output="screen">
		<rosparam file="$(find cob_hardware_config)/$(arg robot)/config/voltage_filter.yaml" command="load" />
		<param name="robot_name" value="$(arg robot)" />
		<param name="mode" value="$(arg mode)" />
	</node>

</launch>
