<?xml version="1.0"?>
<launch>
	<arg name="base" value="raw3-b5"/>
	<arg name="sim" default="false"/>

	<include file="$(find cob_bringup)/drivers/sick_lms1xx.launch">
		<arg name="name" value="base_laser_front"/>
		<arg name="host" value="141.3.80.116"/>
		<arg name="inverted" value="true"/>
		<arg name="scan_intervals" value="[[-2.0, 2.0]]"/>
		<arg name="sim" value="$(arg sim)"/>
	</include>
	<include file="$(find cob_bringup)/drivers/sick_lms1xx.launch">
		<arg name="name" value="base_laser_rear"/>
		<arg name="host" value="141.3.80.115"/>
		<arg name="inverted" value="true"/>
		<arg name="scan_intervals" value="[[-2.0, 2.0]]"/>
		<arg name="sim" value="$(arg sim)"/>
	</include>

	<include file="$(find cob_bringup)/drivers/scan_unifier.launch">
		<arg name="input_scans" value="['base_laser_front/scan','base_laser_rear/scan']"/>
	</include>

	<include file="$(find cob_bringup)/bundles/base_raw3.launch">
		<arg name="base" value="$(arg base)"/>
		<arg name="can_device" value="can1" />
		<arg name="sim" value="$(arg sim)"/>
	</include>

	<include unless="$(arg sim)" file="$(find cob_bringup)/drivers/joy.launch">
		<arg name="dev" value="/dev/input/js0"/>
		<arg name="deadzone" value="0.12"/>
	</include>

</launch>
