<?xml version="1.0"?>
<launch>

	<!-- define arguments -->
	<arg name="debug" default="false" />
	
	# The planning and execution components of MoveIt! configured to 
	# publish the current configuration of the robot (simulated or real)
	# and the current state of the world as seen by the planner
	<include file="$(find cob_moveit_config)/launch/move_group.xml">
		<arg name="publish_monitored_planning_scene" value="true" />
		<arg name="debug" value="$(arg debug)" />
	</include>
	
	# The visualization component of MoveIt!
	<include file="$(find cob_moveit_config)/launch/rviz.launch"/>
</launch>
