<?xml version="1.0"?>
<launch>

  <!-- define arguments -->
  <arg name="robot" default="$(optenv ROBOT !!NO_ROBOT_SET!!)"/>
  <arg name="debug" default="false"/>
  <arg name="use_sensors" default="true"/>

  # The planning and execution components of MoveIt! configured to
  # publish the current configuration of the robot (simulated or real)
  # and the current state of the world as seen by the planner
  <include file="$(find cob_moveit_config)/launch/move_group.launch">
    <arg name="robot" value="$(arg robot)" />
    <arg name="debug" value="$(arg debug)" />
    <arg name="use_sensors" default="$(arg use_sensors)"/>
  </include>

  # The visualization component of MoveIt!
  <include file="$(find cob_moveit_config)/launch/rviz.launch">
    <arg name="robot" value="$(arg robot)" />
    <arg name="config" value="true"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>

</launch>
