<?xml version="1.0"?>
<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       name="icob" >
  
  <!-- common stuff -->
  <include filename="$(find cob_description)/urdf/common.xacro" />
  <include filename="$(find cob_description)/urdf/materials.urdf.xacro" />

  <include filename="$(find cob_calibration_data)/raw3-1/calibration/calibration.urdf.xacro" />   
  
  <!-- icob base -->
  <!--include filename="$(find icob_description)/ros/urdf/base_v1/base.urdf.xacro" /-->	<!-- fxm: old	-->
  <include filename="$(find raw_description)/urdf/base/base.urdf.xacro" />  
 
  <!-- generic simulator_gazebo plugins for starting mechanism control, ros time, ros battery -->
  <include filename="$(find cob_description)/gazebo/gazebo.urdf.xacro" />

  <!-- torso -->
  <include filename="$(find raw_description)/urdf/torso/torso.urdf.xacro" />

  <!-- ur_arm -->
 <!--include filename="$(find raw_description)/urdf/arm_ur/arm.urdf.xacro" /-->   
 <include filename="$(find ur5_description)/urdf/model.urdf.xacro" />   
 <!--include filename="$(find frida_description)/urdf/frida/frida.urdf.xacro" /-->   
 


  <xacro:icob_base name="base"/>

  <!--xacro:frida name="arm" parent="base_link">
    <origin xyz="0.62 0.00 0.88" rpy="0 0 0" />
  </xacro:frida-->

  <xacro:cob_torso_v1 name="torso" parent="base_link">
    <origin xyz="0.166 0.2175 0.5405" rpy="0 0 0" />
  </xacro:cob_torso_v1>



  <xacro:ur5_robot prefix="arm_"/>
  <joint name="arm_base_joint" type="fixed" >
		 <origin xyz="0.3235 -0.191 0.58" rpy="0 0 -0.79" />
		<parent link="base_link" />
		<child link="arm_base_link" />
  </joint>

</robot>
