<?xml version="1.0"?>
<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       name="raw3-1" >
  
  <!-- common stuff -->
  <include filename="$(find cob_description)/urdf/common.xacro" />
  <include filename="$(find cob_description)/urdf/materials.urdf.xacro" />

  <include filename="$(find cob_hardware_config)/raw3-1/urdf/properties.urdf.xacro" />   
  
  <!-- raw base -->
  <include filename="$(find raw_description)/urdf/base_long/base.urdf.xacro" />

  <!-- raw tower -->
  <include filename="$(find raw_description)/urdf/tower_asymetric/tower.urdf.xacro" />  

  <!-- torso -->
  <include filename="$(find raw_description)/urdf/torso/torso.urdf.xacro" />
  
  <!-- head -->
  <include filename="$(find raw_description)/urdf/head/head.urdf.xacro" />
  <include filename="$(find cob_description)/urdf/lookat/lookat.urdf.xacro" />
  
  <!-- ur_arm -->
  <include filename="$(find cob_description)/urdf/ur_arm/ur10_arm.urdf.xacro" />
  
  <!-- raw boxgripper -->
  <include filename="$(find raw_description)/urdf/boxgripper/boxgripper.urdf.xacro" />
  
  <!-- generic simulator_gazebo plugins for starting mechanism control, ros time, ros battery -->
  <include filename="$(find cob_description)/gazebo/gazebo.urdf.xacro" />

  <xacro:raw_base name="base"/>  

  <xacro:tower_asymetric name="tower" parent="base_link">
      <origin xyz="${tower_x} ${tower_y} ${tower_z}" rpy="${tower_roll} ${tower_pitch} ${tower_yaw}" />
  </xacro:tower_asymetric>


  <xacro:raw_torso name="torso" parent="base_link">
      <origin xyz="${torso_x} ${torso_y} ${torso_z}" rpy="${torso_roll} ${torso_pitch} ${torso_yaw}" />
  </xacro:raw_torso>
  
  <xacro:raw_head name="head" parent="torso_2_link">
    <origin xyz="${head_x} ${head_y} ${head_z}" rpy="${head_roll} ${head_pitch} ${head_yaw}" />
  </xacro:raw_head>
  
  <xacro:cob_lookat name="lookat" parent="torso_2_link" lower="0.0" upper="5.0">
    <origin xyz="${head_x} ${head_y} ${head_z}" rpy="${head_roll} ${head_pitch} ${head_yaw}" />
    <axis xyz="1 0 0"/>
  </xacro:cob_lookat>



  <xacro:ur10 name="arm" parent="base_link">
      <origin xyz="${arm_x} ${arm_y} ${arm_z}" rpy="${arm_roll} ${arm_pitch} ${arm_yaw}" />
  </xacro:ur10>
  <!-- mount the arm to the robot 
  <joint name="arm_base_joint" type="fixed" >
      <origin xyz="${arm_x} ${arm_y} ${arm_z}" rpy="${arm_roll} ${arm_pitch} ${arm_yaw}" />
      <parent link="base_link" />
      <child link="arm_base_link" />
  </joint>
  <xacro:ur10_robot prefix="arm_"/>-->
  
  <xacro:raw_boxgripper name="gripper" parent="arm_ee_link">
      <origin xyz="${gripper_x} ${gripper_y} ${gripper_z}" rpy="${gripper_roll} ${gripper_pitch} ${gripper_yaw}" />
  </xacro:raw_boxgripper>


   <!-- IMU brick mount on raw3-1 -->
   <joint name="imu_brick_joint" type="fixed" >
      <origin xyz="0.402 -0.0811 0.335" rpy="0 0 0" />
      <parent link="base_link" />
      <child link="imu_brick_link" />
    </joint>

    <link name="imu_brick_link">
       <inertial>
            <mass value="0.0001" />
            <origin xyz="0 0 0" rpy="0 0 0" />
            <inertia ixx="0.00001" ixy="0" ixz="0" iyy="0.00001" iyz="0" izz="0.00001" />
       </inertial>
       <visual>
   	    <origin xyz="0 0 -0.02" rpy="0 0 0" />
	    <geometry>
    	       <box size="0.04 0.04 0.02" />
	    </geometry>
	    <material name="IPA/LightGrey" />
       </visual>
    </link>
    <!-- END: IMU brick	mount -->
    
   <!-- rfid_front mount on raw3-1 -->
   <joint name="rfid_front_joint" type="fixed" >
      <origin xyz="0.55128 0.0 0.09" rpy="0 0 0" />
      <parent link="base_link" />
      <child link="rfid_front_link" />
    </joint>

    <link name="rfid_front_link">
       <inertial>
            <mass value="0.2" />
            <origin xyz="0 0 0" rpy="0 0 0" />
            <inertia ixx="0.2" ixy="0" ixz="0" iyy="0.2" iyz="0" izz="0.2" />
       </inertial>
       <visual>
   	    <origin xyz="0 0 0" rpy="0 0 0" />
	    <geometry>
    	       <box size="0.16 0.36 0.09" />
	    </geometry>
	    <material name="blue">
        <color rgba="0 0 .8 1"/>
      </material>
       </visual>
    </link>
    <!-- END: rfid front mount -->
    
   <!-- rfid_rear mount on raw3-1 -->
   <joint name="rfid_rear_joint" type="fixed" >
      <origin xyz="-0.55128 0.0 0.09" rpy="0 0 ${M_PI}" />
      <parent link="base_link" />
      <child link="rfid_rear_link" />
    </joint>

    <link name="rfid_rear_link">
       <inertial>
            <mass value="0.2" />
            <origin xyz="0 0 0" rpy="0 0 0" />
            <inertia ixx="0.2" ixy="0" ixz="0" iyy="0.2" iyz="0" izz="0.2" />
       </inertial>
       <visual>
   	    <origin xyz="0 0 0" rpy="0 0 0" />
	    <geometry>
    	       <box size="0.16 0.36 0.09" />
	    </geometry>
	    <material name="blue">
        <color rgba="0 0 .8 1"/>
      </material>
       </visual>
    </link>
    <!-- END: rfid rear mount -->
    
   <!-- rfid_right mount on raw3-1 -->
   <joint name="rfid_right_joint" type="fixed" >
      <origin xyz="0.0 -0.30850 0.09" rpy="0 0 ${-0.5*M_PI}" />
      <parent link="base_link" />
      <child link="rfid_right_link" />
    </joint>

    <link name="rfid_right_link">
       <inertial>
            <mass value="0.2" />
            <origin xyz="0 0 0" rpy="0 0 0" />
            <inertia ixx="0.2" ixy="0" ixz="0" iyy="0.2" iyz="0" izz="0.2" />
       </inertial>
       <visual>
   	    <origin xyz="0 0 0" rpy="0 0 0" />
	    <geometry>
    	       <box size="0.16 0.36 0.09" />
	    </geometry>
	    <material name="blue">
        <color rgba="0 0 .8 1"/>
      </material>
       </visual>
    </link>
    <!-- END: rfid right mount -->

  </robot>
