<?xml version="1.0"?>
<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       name="raw3-1" >
  
  <!-- common stuff -->
  <include filename="$(find cob_description)/urdf/common.xacro" />
  <include filename="$(find cob_description)/urdf/materials.urdf.xacro" />

  <include filename="$(find cob_calibration_data)/raw3-1/calibration/calibration.urdf.xacro" />   
  
  <!-- raw base -->
  <include filename="$(find raw_description)/urdf/base_long/base.urdf.xacro" />

  <!-- raw tower -->
  <include filename="$(find raw_description)/urdf/tower_asymetric/tower.urdf.xacro" />  

  <!-- raw boxgripper -->
  <include filename="$(find raw_description)/urdf/boxgripper/boxgripper.urdf.xacro" />

  <!-- generic simulator_gazebo plugins for starting mechanism control, ros time, ros battery -->
  <include filename="$(find cob_description)/gazebo/gazebo.urdf.xacro" />

  <!-- torso -->
  <include filename="$(find raw_description)/urdf/torso/torso.urdf.xacro" />

  <!-- ur_arm -->
  <include filename="$(find raw_description)/urdf/ur_arm/ur10_arm.urdf.xacro" />



  <xacro:raw_base name="base"/>	

  <xacro:tower_asymetric name="tower" parent="base_link">
      <origin xyz="${tower_x} ${tower_y} ${tower_z}" rpy="${tower_roll} ${tower_pitch} ${tower_yaw}" />
  </xacro:tower_asymetric>

  <xacro:cob_ur10 name="arm" parent="base_link">
      <origin xyz="${arm_x} ${arm_y} ${arm_z}" rpy="${arm_roll} ${arm_pitch} ${arm_yaw}" />
  </xacro:cob_ur10>
  <!-- mount the arm to the robot 
  <joint name="arm_base_joint" type="fixed" >
      <origin xyz="${arm_x} ${arm_y} ${arm_z}" rpy="${arm_roll} ${arm_pitch} ${arm_yaw}" />
      <parent link="base_link" />
      <child link="arm_base_link" />
  </joint>

  <xacro:ur10_robot prefix="arm_"/>-->


  <xacro:raw_torso name="torso" parent="base_link">
      <origin xyz="${torso_x} ${torso_y} ${torso_z}" rpy="${torso_roll} ${torso_pitch} ${torso_yaw}" />
  </xacro:raw_torso>

  <xacro:raw_boxgripper name="gripper" parent="arm_ee_link">
      <origin xyz="${gripper_x} ${gripper_y} ${gripper_z}" rpy="${gripper_roll} ${gripper_pitch} ${gripper_yaw}" />
  </xacro:raw_boxgripper>

  </robot>
