<?xml version="1.0" ?>
<robot>
	<!-- ***************** -->
	<!-- base calibration -->
	<!-- ***************** -->
	<!-- laser front mount positions | relative to base_link -->
	<property name="def_laser_front_x" value="0.325"/>
	<property name="def_laser_front_y" value="0.0"/>
	<property name="def_laser_front_z" value="0.135"/>
	<property name="def_laser_front_roll" value="3.1416"/>
	<property name="def_laser_front_pitch" value="0.0"/>
	<property name="def_laser_front_yaw" value="0.0"/>

	<!-- laser rear mount positions | relative to base_link -->
	<property name="def_laser_rear_x" value="-0.325"/>
	<property name="def_laser_rear_y" value="0.0"/>
	<property name="def_laser_rear_z" value="0.135"/>
	<property name="def_laser_rear_roll" value="3.1416"/>
	<property name="def_laser_rear_pitch" value="0.0"/>
	<property name="def_laser_rear_yaw" value="3.1416"/>

	<!-- laser top mount positions | relative to base_link -->
	<property name="def_laser_top_x" value="-0.252"/>
	<property name="def_laser_top_y" value="0.0"/>
	<property name="def_laser_top_z" value="0.42"/>
	<property name="def_laser_top_roll" value="0.0"/>
	<property name="def_laser_top_pitch" value="0.0"/>
	<property name="def_laser_top_yaw" value="0.0"/>

	<!-- *********************** -->
	<!-- upper robot calibration -->
	<!-- *********************** -->
	<!-- tray mount positions | relative to base_link -->
	<property name="def_tray_x" value="0.2006"/>
	<property name="def_tray_y" value="0.1800"/>
	<property name="def_tray_z" value="0.7920"/>
	<property name="def_tray_roll" value="2.3561"/>
	<property name="def_tray_pitch" value="0.0"/>
	<property name="def_tray_yaw" value="0.0"/>

	<!-- torso mount positions | relative to base_link -->
	<property name="def_torso_x" value="0.1505153138"/>
	<property name="def_torso_y" value="0.0"/>
	<property name="def_torso_z" value="0.8602400721"/>
	<property name="def_torso_roll" value="1.563226442"/>
	<property name="def_torso_pitch" value="0.0346163655"/>
	<property name="def_torso_yaw" value="0.0107070343"/>

	<!-- head mount positions | relative to head_cover_link -->
	<property name="def_head_x" value="0.0"/>
	<property name="def_head_y" value="0.173"/>
	<property name="def_head_z" value="0.0"/>
	<property name="def_head_roll" value="0.0"/>
	<property name="def_head_pitch" value="0.0"/>
	<property name="def_head_yaw" value="0.0"/>

	<!-- arm mount positions | relative to base_link -->
	<property name="def_arm_x" value="-0.004"/>
	<property name="def_arm_y" value="-0.065"/>
	<property name="def_arm_z" value="0.83357"/>
	<property name="def_arm_roll" value="0.0"/>  <!-- 0.4 -->
	<property name="def_arm_pitch" value="0.785398"/> <!-- 0.7554 --> <!-- 0.785398 -->
	<property name="def_arm_yaw" value="-2.1"/> <!-- -1.33899265359 --> <!-- -1.57 -->

	<!-- pg70 mount positions | relative to arm_7_link -->
	<property name="def_pg70_x" value="0.0"/>
	<property name="def_pg70_y" value="0.0"/>
	<property name="def_pg70_z" value="0.075"/>
	<property name="def_pg70_roll" value="0.0"/>
	<property name="def_pg70_pitch" value="0.0"/>
	<property name="def_pg70_yaw" value="0.0"/>

	<!-- *********************************** -->
	<!-- kinematic chain reference positions -->
	<!-- *********************************** -->
	<!-- this feature is no longer supported as urdfdom does not parse the according 'calibration_rising' tag -->

	<!-- ***************************** -->
	<!-- camera calibration properties -->
	<!-- ***************************** -->
	<!-- left | handeye calibration | relative to head_axis_link -->
	<property name="def_cam_reference_x" value="-0.05"/>
	<property name="def_cam_reference_y" value="-0.02"/>
	<property name="def_cam_reference_z" value="-0.07"/>
	<property name="def_cam_reference_roll" value="0"/>
	<property name="def_cam_reference_pitch" value="-1.5563904314"/>
	<property name="def_cam_reference_yaw" value="0"/>

	<!-- left | handeye calibration | relative to cam_reference_link -->
	<property name="def_cam_l_x" value="0"/>
	<property name="def_cam_l_y" value="0"/>
	<property name="def_cam_l_z" value="0"/>
	<property name="def_cam_l_roll" value="0"/>
	<property name="def_cam_l_pitch" value="0"/>
	<property name="def_cam_l_yaw" value="0"/>

	<!-- right | stereo baseline calibration | relative to cam_reference_link -->
	<property name="def_cam_r_x" value="0.12"/>
	<property name="def_cam_r_y" value="0"/>
	<property name="def_cam_r_z" value="0"/>
	<property name="def_cam_r_roll" value="0"/>
	<property name="def_cam_r_pitch" value="0"/>
	<property name="def_cam_r_yaw" value="0"/>

	<!-- cam3d | handeye calibration | relative to cam_reference_link -->
	<property name="def_cam3d_x" value="0.06"/>
	<property name="def_cam3d_y" value="-0.03"/>
	<property name="def_cam3d_z" value="0"/>
	<property name="def_cam3d_roll" value="0"/>
	<property name="def_cam3d_pitch" value="0"/>
	<property name="def_cam3d_yaw" value="0"/>
</robot>
