<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"
       name="cob3-9" >

  <!-- common stuff -->
  <xacro:include filename="$(find cob_description)/urdf/common.xacro" />
  <xacro:include filename="$(find cob_description)/urdf/materials.urdf.xacro" />
  <xacro:include filename="$(find schunk_description)/urdf/materials.urdf.xacro" />

  <!-- calibration -->
  <xacro:include filename="$(find cob_hardware_config)/cob3-9/urdf/properties.urdf.xacro" />
  
  <!-- base -->
  <xacro:include filename="$(find cob_description)/urdf/cob3_base/base.urdf.xacro" />

  <!-- tray -->
  <xacro:include filename="$(find cob_description)/urdf/cob3_tray/tray.urdf.xacro" />
 
  <!-- torso -->
  <xacro:include filename="$(find cob_description)/urdf/cob3_torso/torso_v2.urdf.xacro" />

  <!-- arm -->
  <xacro:include filename="$(find schunk_description)/urdf/lwa4d/lwa4d.urdf.xacro" />

  <!-- gripper -->
  <xacro:include filename="$(find schunk_description)/urdf/pg70/pg70.urdf.xacro" />
  
  <!-- head -->
  <xacro:include filename="$(find cob_description)/urdf/cob3_head/head_prosilicas_kinect.urdf.xacro" />


  <!-- generic simulator_gazebo plugins for starting mechanism control, ros time, ros battery -->
  <xacro:include filename="$(find cob_description)/gazebo/gazebo.urdf.xacro" />
  
  <!-- composition of the robot -->
  <xacro:base name="base"/>

  <xacro:tray name="tray" parent="base_link">
    <origin xyz="${tray_x} ${tray_y} ${tray_z}" rpy="${tray_roll} ${tray_pitch} ${tray_yaw}" />
  </xacro:tray>
  <gazebo>
    <plugin name="ros_control" filename="libmulti_hw_interface_gazebo_ros_control.so">
      <robotNamespace>tray</robotNamespace>
      <filterJointsParam>joint_names</filterJointsParam>
    </plugin>
  </gazebo>

  <xacro:torso name="torso" parent="base_link">
    <origin xyz="${torso_x} ${torso_y} ${torso_z}" rpy="${torso_roll} ${torso_pitch} ${torso_yaw}" />
  </xacro:torso>
  <gazebo>
    <plugin name="ros_control" filename="libmulti_hw_interface_gazebo_ros_control.so">
      <robotNamespace>torso</robotNamespace>
      <filterJointsParam>joint_names</filterJointsParam>
    </plugin>
  </gazebo>

  <xacro:schunk_lwa4d name="arm" parent="base_link"
          arm_1_ref="${arm_1_ref}"
          arm_2_ref="${arm_2_ref}"
          arm_3_ref="${arm_3_ref}"
          arm_4_ref="${arm_4_ref}"
          arm_5_ref="${arm_5_ref}"
          arm_6_ref="${arm_6_ref}"
          arm_7_ref="${arm_7_ref}">
    <origin xyz="${arm_x} ${arm_y} ${arm_z}" rpy="${arm_roll} ${arm_pitch} ${arm_yaw}" />
  </xacro:schunk_lwa4d>
  <gazebo>
    <plugin name="ros_control" filename="libmulti_hw_interface_gazebo_ros_control.so">
      <robotNamespace>arm</robotNamespace>
      <filterJointsParam>joint_names</filterJointsParam>
    </plugin>
  </gazebo>
  
  <xacro:head name="head" parent="torso_upper_neck_tilt_link">
    <origin xyz="${head_x} ${head_y} ${head_z}" rpy="${head_roll} ${head_pitch} ${head_yaw}" />
  </xacro:head>
  
  <xacro:schunk_pg70 name="pg70" parent="arm_7_link"
          pg70_finger_left_ref="${pg70_finger_left_ref}"
          pg70_finger_right_ref="${pg70_finger_right_ref}">
    <origin xyz="${pg70_x} ${pg70_y} ${pg70_z}" rpy="${pg70_roll} ${pg70_pitch} ${pg70_yaw}" />
  </xacro:schunk_pg70>
  <gazebo>
    <plugin name="ros_control" filename="libmulti_hw_interface_gazebo_ros_control.so">
      <robotNamespace>gripper</robotNamespace>
      <filterJointsParam>joint_names</filterJointsParam>
    </plugin>
  </gazebo>
</robot>
