<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"
       name="raw3-1" >

  <!-- common stuff -->
  <xacro:include filename="$(find cob_description)/urdf/common.xacro" />
  <xacro:include filename="$(find cob_description)/urdf/materials.urdf.xacro" />

  <xacro:include filename="$(find cob_hardware_config)/robots/raw3-1/urdf/properties.urdf.xacro" />

  <!-- raw base -->
  <xacro:include filename="$(find raw_description)/urdf/base_long/base.urdf.xacro" />

  <!-- raw tower -->
  <xacro:include filename="$(find raw_description)/urdf/tower_asymetric/tower.urdf.xacro" />

  <!-- torso -->
  <xacro:include filename="$(find raw_description)/urdf/torso/torso_v2.urdf.xacro" />

  <!-- ur_arm -->
  <xacro:include filename="$(find raw_description)/urdf/ur_arm/ur10_arm.urdf.xacro" />

  <!-- vacuum gripper -->
  <xacro:include filename="$(find raw_description)/urdf/vacuum_gripper/gripper.urdf.xacro" />

  <!-- sensors -->
  <xacro:include filename="$(find cob_description)/urdf/sensors/sick_s300_laser.urdf.xacro"/>


  <!-- composition of the robot -->
  <xacro:raw_base name="base"/>
  <!-- base laser front -->
  <xacro:sick_s300_laser_v0 name="base_laser_front" parent="base">
    <origin xyz="${laser_front_x} ${laser_front_y} ${laser_front_z}" rpy="${laser_front_roll} ${laser_front_pitch} ${laser_front_yaw}" />
  </xacro:sick_s300_laser_v0>
  <!-- base laser rear -->
  <xacro:sick_s300_laser_v0 name="base_laser_rear" parent="base">
    <origin xyz="${laser_rear_x} ${laser_rear_y} ${laser_rear_z}" rpy="${laser_rear_roll} ${laser_rear_pitch} ${laser_rear_yaw}" />
  </xacro:sick_s300_laser_v0>

  <xacro:tower_asymetric name="tower" parent="base_link">
    <origin xyz="${tower_x} ${tower_y} ${tower_z}" rpy="${tower_roll} ${tower_pitch} ${tower_yaw}" />
  </xacro:tower_asymetric>

  <xacro:raw_torso_v2 name="torso" parent="base_link">
    <origin xyz="${torso_x} ${torso_y} ${torso_z}" rpy="${torso_roll} ${torso_pitch} ${torso_yaw}" />
  </xacro:raw_torso_v2>

  <xacro:ur10 name="arm" parent="base_link">
    <origin xyz="${arm_x} ${arm_y} ${arm_z}" rpy="${arm_roll} ${arm_pitch} ${arm_yaw}" />
  </xacro:ur10>

  <xacro:vacuum_gripper name="gripper" parent="arm_ee_link">
    <origin xyz="${gripper_x} ${gripper_y} ${gripper_z}" rpy="${gripper_roll} ${gripper_pitch} ${gripper_yaw}" />
  </xacro:vacuum_gripper>

</robot>
