<?xml version="1.0"?>
<launch>

	<arg name="env-script" default="$(find cob_bringup)/env.sh"/>

	<include file="$(find cob_bringup)/robots/cob3-9.xml" >
		<arg name="pc1" value="cob3-9-pc1"/>
		<arg name="pc2" value="cob3-9-pc2"/>
		<arg name="pc3" value="cob3-9-pc3"/>
		<arg name="env-script" value="$(arg env-script)"/>
	</include>

</launch>
