<?xml version="1.0"?>
<launch>

	<arg name="env-script" default="$(find cob_bringup)/env.sh"/>

	<include file="$(find cob_bringup)/robots/cob4-16.xml">
		<arg name="cob4-16-b1" value="cob4-16-b1"/>
		<arg name="cob4-16-t1" value="cob4-16-t1"/>
		<arg name="cob4-16-t2" value="cob4-16-t2"/>
		<arg name="cob4-16-t3" value="cob4-16-t3"/>
		<arg name="cob4-16-s1" value="cob4-16-s1"/>
		<arg name="cob4-16-h1" value="cob4-16-h1"/>
		<arg name="env-script" value="$(arg env-script)"/>
	</include>

</launch>
