<?xml version="1.0"?>
<launch>

	<include file="$(find cob_bringup)/robots/cob4-1.xml" >
		<!-- cob4-1 is currently a special config setup of cob4-2 hardware -->
		<arg name="cob4-1-b1" value="juansabeli"/>
		<arg name="cob4-1-t1" value="juansabeli"/>
		<arg name="cob4-1-t2" value="juansabeli"/>
		<arg name="cob4-1-t3" value="juansabeli"/>
		<arg name="cob4-1-s1" value="juansabeli"/>
		<arg name="cob4-1-h1" value="juansabeli"/>
	</include>

</launch>
