<?xml version="1.0"?>
<launch>

	<arg name="robot_env" default="$(optenv ROBOT_ENV !!NO_ROBOT_ENV_SET!!)"/>
	<arg name="pkg_env_config" default="$(find cob_default_env_config)"/>

	<include file="$(find cob_bringup)/robots/cob4-1.xml" >
		<arg name="cob4-1-b1" value="cob4-1-base-pc1"/>
		<arg name="cob4-1-t1" value="cob4-1-torso-pc1"/>
		<arg name="cob4-1-t2" value="cob4-1-torso-pc2"/>
		<arg name="cob4-1-t3" value="cob4-1-torso-pc3"/>
		<arg name="cob4-1-s1" value="cob4-1-sensorring-pc1"/>
		<arg name="cob4-1-h1" value="cob4-1-head-pc1"/>
	</include>
	
	<!-- upload default configuration parameters -->
	<!--include file="$(arg pkg_env_config)/upload_navigation_goals.launch">
		<arg name="robot_env" value="$(arg robot_env)" />
	</include-->

</launch>
