<?xml version="1.0"?>
<launch>

	<include file="$(find cob_bringup)/robots/cob4-1.xml" >
		<!-- cob4-1 is currently a special config setup of cob4-2 hardware -->
		<arg name="cob4-1-b1" value="cob4-2-b1"/>
		<arg name="cob4-1-t1" value="cob4-2-t1"/>
		<arg name="cob4-1-t2" value="cob4-2-t2"/>
		<arg name="cob4-1-t3" value="cob4-2-t3"/>
		<arg name="cob4-1-s1" value="cob4-2-s1"/>
		<arg name="cob4-1-h1" value="cob4-2-h32"/>
	</include>

</launch>
