<?xml version="1.0"?>
<launch>

	<arg name="env-script" default="$(find cob_bringup)/env.sh"/>

	<include file="$(find cob_bringup)/robots/cob4-13.xml">
		<arg name="cob4-13-b1" value="cob4-13-b1"/>
		<arg name="cob4-13-t1" value="cob4-13-t1"/>
		<arg name="cob4-13-t2" value="cob4-13-t2"/>
		<arg name="cob4-13-t3" value="cob4-13-t3"/>
		<arg name="cob4-13-s1" value="cob4-13-s1"/>
		<arg name="cob4-13-h1" value="cob4-13-h1"/>
		<arg name="env-script" value="$(arg env-script)"/>
	</include>

</launch>
