<?xml version="1.0"?>
<launch>

	<arg name="sim" default="false"/>
	<arg name="env-script" default="$(find cob_bringup)/env.sh"/>

	<include file="$(find cob_bringup)/robots/cob4-18.xml">
		<arg unless="$(arg sim)" name="cob4-18-b1" value="cob4-18-b1"/>
		<arg if="$(arg sim)" name="cob4-18-b1" value="localhost"/>
		<arg name="env-script" value="$(arg env-script)"/>
		<arg name="sim" value="$(arg sim)" />
	</include>

</launch>
