<?xml version="1.0"?>
<launch>

	<!--include file="$(find cob_machine)/$(env ROBOT).machine" /-->

	<group>
		<!--machine name="pc1" address="raw3-2-pc1" default="true"/-->

		<!-- upload robot description -->
		<include file="$(find cob_hardware_config)/common/upload_robot.launch" />
	
		<!-- start robot_state_publisher -->
		<node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher"/>

		<!-- startup hardware -->
		<!-- lower robot -->
		<include file="$(find cob_bringup)/components/laser_front.launch" />
		<include file="$(find cob_bringup)/components/laser_rear.launch" />
		<include file="$(find cob_bringup)/components/base.launch" />
		<include file="$(find cob_bringup)/components/relayboard_sim.launch" />


		
		<!-- start additional packages -->
		<include file="$(find cob_bringup)/tools/teleop.launch" />
	</group>


	<!--machine name="pc1" address="raw3-2-pc1" default="true"/-->

</launch>
