<?xml version="1.0"?>
<launch>

	<arg name="env-script" default="$(find cob_bringup)/env.sh"/>

	<include file="$(find cob_bringup)/robots/raw3-1.xml">
		<arg name="pc1" value="raw3-1-pc1"/>
		<arg name="pc2" value="raw3-1-pc2"/>
		<arg name="ur_ip" value="192.168.141.40"/>
		<arg name="env-script" value="$(arg env-script)"/>
	</include>

</launch>
