<?xml version="1.0"?>
<launch>

	<arg name="sim" default="$(optenv SIMULATION false)"/>
	<param name="/use_sim_time" value="$(arg sim)"/>
	<arg name="robot" default="$(optenv ROBOT !!NO_ROBOT_SET!!)"/>
	<arg name="env-script" default="$(find cob_bringup)/env.sh"/>

	<include file="$(find cob_bringup)/robots/$(arg robot).launch">
		<arg name="env-script" value="$(arg env-script)"/>
		<arg name="sim" value="$(arg sim)" />
	</include>

</launch>
