<?xml version="1.0"?>
<launch>

	<param name="/use_sim_time" value="false"/>
	<arg name="robot" default="$(optenv ROBOT !!NO_ROBOT_SET!!)"/>
	<arg name="env-script" default="$(find cob_bringup)/env.sh"/>

	<include file="$(find cob_bringup)/robots/$(arg robot).launch">
		<arg name="env-script" value="$(arg env-script)"/>
	</include>

</launch>
