<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"
       name="raw4-1" >

  <!-- common stuff -->
  <xacro:include filename="$(find cob_description)/urdf/common.xacro" />
  <xacro:include filename="$(find cob_description)/urdf/materials.urdf.xacro" />

  <xacro:include filename="$(find cob_hardware_config)/robots/raw4-1/urdf/properties.urdf.xacro" />
  <!-- raw base -->
  <xacro:include filename="$(find raw_description)/urdf/raw4_base/raw4_base.urdf.xacro" />

  <!-- sensors -->
  <xacro:include filename="$(find cob_description)/urdf/sensors/sick_microscan3.urdf.xacro"/>


  <!-- composition of the robot -->
  <xacro:raw4_base name="base"/>
  <!-- base laser front -->
  <xacro:sick_microscan3 name="base_laser_front" parent="base">
    <origin xyz="${laser_front_x} ${laser_front_y} ${laser_front_z}" rpy="${laser_front_roll} ${laser_front_pitch} ${laser_front_yaw}" />
  </xacro:sick_microscan3>
  <!-- base laser rear -->
  <xacro:sick_microscan3 name="base_laser_rear" parent="base">
    <origin xyz="${laser_rear_x} ${laser_rear_y} ${laser_rear_z}" rpy="${laser_rear_roll} ${laser_rear_pitch} ${laser_rear_yaw}" />
  </xacro:sick_microscan3>


</robot>
